<ul class="nav navbar-nav wid">
    <li class="discover_li list active">
    	<%=link_to "List", admin_marketplaces_path %>
    </li>
    <li class="discover_li moves">
    	<%=link_to "Moves", moves_list_admin_marketplaces_path %>
    </li>
</ul>