<section class="container">
    <div class="row">
     <div class="col-xs-12 col-md-8 col-md-offset-2 hero-content-container">
      <div class="flex-wrap">
       <div class="flex">
         <div class="login-head border_none txt_cent">
			<img src="/assets/confirmation_tick.png" width="100" height="100" alt="Confirmation" />
				<h1>You're on the list!</h1>
                <h2>As soon as it's ready, we'll let you know. Stay tuned! It shouldn't be too long.</h2>
             </div>
       </div>
      </div>
     </div>
    </div>
   </section>
