<div class="middle_wrapper">
      <div class="middle_container">
          <div class="homepage_icons">
              <ul>
                  <li>
                    <a href="/dashboard/trainer"><img src="/assets/home_icon.png" alt="Home" />
                    Home</a> </li>
                    
                    <li>
                    <a href="/libraries"><img src="/assets/fitness_icon.png" alt="Home" />
                    Fitness Library</a> </li>
                    
                    <li>
                    <a href="/workouts/new"><img src="/assets/workout_icon.png" alt="Home" />
                    Workout Builder</a> </li>
                    
                    <li>
                    <a href="javascript:void(0)"><img src="/assets/support_icon.png" alt="Home" />
                    Support</a> </li>
                    
                    <li>
                    <a href="javascript:void(0)"><img src="/assets/performance_icon.png" alt="Home" />
                    Performance</a> </li>
                </ul>
            </div>
        </div>
    </div>