<div class="dashboard-container">
    <ul class="trainer-apps homescreen">
        <li>
            <a href="<%= params[:user].present? ? trainer_dashboard_index_path(user: params[:user]): trainer_dashboard_index_path %>" class="home" data-no-turbolink="true">
                <span></span>
            </a>
        </li>
        <li>
            <a href="<%= params[:user].present? ? libraries_path(user: params[:user]) : libraries_path %>" class="fitness-library" data-no-turbolink="true">
                <span></span>
            </a>
        </li>
        <li>
            <a href="<%= params[:user].present? ? new_workout_path(user: params[:user]) : new_workout_path %>" class="workout-builder" data-no-turbolink="true">
                <span></span>
            </a>
        </li>
        <li>
            <a href="<%= params[:user].present? ? discover_path(user: params[:user]) : discover_path %>" class="discover" data-no-turbolink="true">
                <span></span>
            </a>
        </li>
        <li>
            <a target="_blank" href="http://facebook.com/groups/xerofit.trainers.beta" class="support">
                <span></span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="performance">
                <span></span>
                <img class="coming-soon-banner" src="/assets/icons/coming_soon_banner.png" />
            </a>
        </li>
    </ul>
</div>