<div class="middle_wrapper">
<div class="dashboard_mid">
        <h3>Dashboard</h3>
        <%= render "trainer_left_menu" %>
    
<div class="dash_rght">
	<div class="gray_bg">
    	<ul>
        	<li><img src="/assets/ex_img.jpg" width="49" height="49" alt="ex_img" />
            <h5>1. Upload Exercise</h5>
            <p>Build up a library.</p></li>
            <li class="gray_mlr"><img src="/assets/workout_img.jpg" width="45" height="49" alt="workout_img" />
            <h5>2. Create Workouts</h5>
            <p>Organize into workouts.</p></li>
            <li><img src="/assets/content_img.jpg" width="49" height="49" alt="content_img" />
            <h5>1. Publish Content</h5>
            <p>Sell in the marketplace.</p></li>
        </ul>
  </div>
  <div class="alerts_col">
  		<h4>Alerts & Updates<span class="ques"></span></h4>
        <div class="alerts_col_desc">
        	<h5>All clear, there's nothing to see here.</h5>
			    <p>(But that doesn't mean there won't be soon)</p>
        </div>
  </div>
  
  <div class="alerts_col">
		<h4>Marketplace Performance<span class="ques"></span></h4>
    	<div class="market_list">
      	<ul>
        	<li class="list_1">Name</li>
          <li class="list_2">Date Added</li>
          <li class="list_2">Impressions</li>
          <li class="list_2">Conversion Rate</li>
          <li class="list_3">Sales</li>
        </ul>
      </div>
      <div class="alerts_col_desc">
      	<h5>The marketplace isn't quite ready yet...</h5>
  			<p>But that's why you're here right?</p>
      </div>
  </div>
</div>
</div>
</div>
