<div class="pop_col" style="display:none" id="wrk_add_option">
    <div class="close_icon"><a href="javascript:void(0)"><img src="/assets/close.png" width="20" height="20" alt="close_icon"></a>
    </div>
	<h4>Select Type Of Blocks</h4>
	<div class=" pop_bg">
		<%=render "block_options"%>
	</div>
</div>