<div class="block_options_html circuit_block">
    <li class="main_container cir_super_blk" data-blck="circuit">

        <div class="block-header">
            <h3>Circuit</h3>
            <span class="block-settings" data-toggle="popover" data-placement="left"></span>
            <%= render "circuit_block_popover" %>
        </div>

        <ul class="block-body add_photo" data-block="block" data-block-name="circuit">
            <li class="first"><span class="sort_index"></span></li>
        </ul>

    </li>
</div>


<div class="block_options_html superset_block">
    <li class="main_container cir_super_blk" data-blck="superset">

        <div class="block-header">
            <h3>Superset</h3>
            <span class="block-settings" data-toggle="popover" data-placement="left"></span>
            <%= render "superset_block_popover" %>
        </div>

        <ul class="block-body add_photo" data-block="block" data-block-name="superset">
            <li class="first"><span class="sort_index"></span></li>
        </ul>

    </li>
</div>



<div class="block_options_html water_break_block">
    <li class="water_block">
        <div class="water_hr">
        </div>
        <div class="water_head">Break
            <img src="/assets/setting.jpg" class="img_icon1" data-toggle="popover" data-placement="left">
                <%= render "water_block_popover" %>
            </img>
        </div>
    </li>
</div>



<div class="block_options_html individual_block">
    <li class="single_move main_container load_lib_detail" data-blck='individual'></li>
</div>



<div class="block_options_html block_inner_move">
    <li class="others load_lib_detail block-header"></li>
</div>