<li class="others load_lib_detail block-header <%=cls%>" id="<%=id%>" >
    <span class="move_content">
	    <b class="sort_index"></b>
	    <b class="txt"><%=text%></b>
	</span>
	<span class="move_remove">
		<img src="/assets/close.png" class="remove_inner_move"/>
	</span>
</li>