<li class="block-container break-block <%=cls%>" id="<%=id%>">
    <div class="zzwater_hr">
    </div>

    <div class="block-header">
        <h3>Break</h3>
        <span class="break-block-settings" data-toggle="popover" data-placement="left"></span>
        <%= render "workouts/builder_blocks/break_popover" %>
    </div>
</li>