<div class="head hide"></div>
<div class="content hide">
  <input type="hidden" class="sets_count" name="sets" value="1">
  <input type="hidden" class="rest_time" name="rest" value="30">
  <div class="input-section">
    <div class="section-title">
        <label>Sets</label>
    </div>
    <div class="input-wrap lib_detail_popup">
        <input class="sets_by_popup" max="10" min="1" name="sets_count" step="1" type="number" value="1">
    </div>
  </div>
  <div class="input-section">
    <div class="section-title">
      <label>Rests</label>
    </div>
    <div class="input-wrap">
      <div class="input-wrap lib_detail_popup" >
        <input class="sets_by_popup" max="180" min="0" name="rest_time" step="15" type="number" value="30" >
      </div>
    </div>
  </div>
<a href="javascript:void(0)" id="" class="remove_video_btn remove_block">Delete</a>
</div>