<li class="block-container single_move load_lib_detail <%=cls%>" data-blck='individual' id="<%=id%>">
	<span class="move_content">
	    <b class="sort_index"></b>
	    <b class="txt"><%=text%></b>
	</span>
	<span class="move_remove">
		<img src="/assets/close.png" class="remove_single_move"/>
	</span>
</li>