<span class="work_out_left_menu">
  <div class="workout_col_left autoheight">
    <%= simple_form_for(Library.new, url: filter_libraries_path, remote: true, html: {id: 'filter_search_form'}) do |lib| %>
    <div class="search_col">
        <input name="" type="button" class="search_icon workout_search_btn" />
        <%= autocomplete_field_tag 'title', '', autocomplete_library_title_workouts_path, :class => "search_icon", :placeholder=>"Search within library..." %>
    </div>
    <%= hidden_field_tag :filter, "asc", class: "filter_desc" %>
    <div class="fitler_col" id="filter_library_col">
      <div class="filter_icon asc" id="filter_change">
        Filter
      </div>
      <span class="library_list">
       <%= render "workout_left_menu", libraries: current_user.libraries %>
     </span>
    </div>
    <% end %>
  </div>
</span>