<%if @lib_detail.rep_option == LibraryDetail::REP_TYPE[1]%>
    <div class="min_col min_col_1 lib_detail_inp">
        <%= ld.input :rep_min, label: false,  input_html: {class: "", min: 1, max: 50, disabled: disabled} %>
        <label>Min</label>
    </div>
    <div class="min_col min_col_1 lib_detail_inp">
            <%= ld.input :rep_max, label: false, input_html: {class: "", min: 1, max: 50,disabled: disabled} %>
        <label>Max</label>
    </div>
<%elsif @lib_detail.rep_option == LibraryDetail::REP_TYPE[2]%>
    <div class="min_col min_col_1 lib_detail_inp">
        <%= ld.input :rep_total, label: false,  input_html: {class: "", min: 1, max: 50, disabled: disabled} %>
        <label>Total</label>
    </div>
<%end%>
<div class="check_col_1 fr">
     <%=ld.input :rep_each_side, input_html: {class: "lib_detail_chk", disabled: disabled} %>
</div>