<li class="block-container cir_super_blk <%=cls%>" data-blck="superset" id="<%=id%>">
    <div class="block-header">
        <h3>Superset</h3>
        <span class="block-settings" data-toggle="popover" data-placement="left"></span>
        <%= render "workouts/builder_blocks/superset_popover" %>
    </div>

    <ul class="block-body add_photo main_drop_block" data-block="block" data-block-name="superset">
        <li class="first">1</li>
        <li class="first">2</li>
    </ul>

</li>