<div class="head hide">Time/Duration</div>
<div class="content hide">
	<input type="hidden" class="minutes" name="min" value="1">
    <input type="hidden" class="seconds" name="sec" value="0">
    <div class="input-section">
    	<div class="input-wrap water_detail">
			<div class="time_flot">
				<h5>Minutes</h5>
  				<input class="water_popup" name="minutes" max="10" min="1" step="1" type="number" value="1">
  			</div>
	        <div class="time_flot">
	        	<h5>Seconds</h5>
  				<input class="water_popup" name="seconds" max="60" min="0" step="15" type="number" value="0">
  			</div>
	    </div>
  	</div>
    <a href="javascript:void(0)" id="block_remove_" class="remove_video_btn"> Delete Water break </a>
</div>