<div class="workout_col_rght dashboard autoheight">
	<div class="move_detail">Workout Details</div>
	<div class="green_txt success"></div>
    	<div class="detail_form">
           <%=render "workout_form"%>
           <%#=render "library_details"%>
        </div>
</div>