<div class="header_wrapper dashboard_header">
	<div class="head_lft">
   	  <div class="back_arrow"><!-- <a href="javascript:void(0)">Back</a> --></div>
    </div>
    <div class="head_cent"> 
        <a href="javascript:void(0)" class=""><img src="/assets/cb_1.jpg" width="27" height="27" alt="cb_1" /></a>

        <a href="javascript:void(0)" class="m_32 wrk_add_opt"><img src="/assets/cb_2.jpg" width="23" height="27" alt="cb_2" /></a>

        <a href="javascript:void(0)"><img src="/assets/cb_3.jpg" width="35" height="27" alt="cb_3" /></a>
    </div>
    <div class="head_rht">
   	  <div class="next_arrow"><a href="javascript:void(0)" class="pub_btn" id="publish">Publish</a></div>
    </div>
</div>