<div class="workout_col_rght dashboard">
	<div class="move_detail">DETAILS</div>
	<div class="green_txt success"></div>
    	<div class="detail_form">
           <%=render "workout_form"%>
           <%#=render "block_options"%>
        </div>
</div>