<div class="control_bar">
    <div class="container-fluid">
        <div class="control_bar_wrap">
            <div class="control_bar_context">
                <div class="workout-title-wrap">
                    <%= render "workout_title_form" %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="details_page_header">
    <div class="container-fluid">
        <div class="header-scroll">
            <% unless @workout.new_record? %>
                <%= link_to("Fitness Library", params[:user].blank? ? workout_details_path(@workout) : workout_details_path(@workout, user: params[:user]), :class=> 'cb_breadcrumb') %>
            <% end %>
            <span class="show-on-scroll"></span>

            <div class="editor-buttons">
                <a id="enter-fullscreen" class="fullscreen-toggle builder-tooltip" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Enter Fullscreen"></a>
                <a id="exit-fullscreen" class="fullscreen-toggle builder-tooltip hide" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Exit Fullscreen"></a>
            </div>

            <div class="rght_btns">
                <a href="<%= trainer_dashboard_index_path %>" class="cancel_btn rht_active">Cancel</a>
                <a href="javascript:void(0)" class="cancel_btn rht_active btn_right pub_btn" id="publish">Save</a>
            </div>
        </div>
    </div>
</div>
