<% current_user.libraries.each do |lib|%>
    <div class="white_list"  draggable="true" ondragstart="drag_start(event)" id="lib_<%=lib.id%>">
        <div class="white_list_left">
            <h6><%= lib.title %></h6>
              <p><%= lib.category %></p>
          </div>
          <div class="dots_img">
              <img src="/assets/dots_img.jpg" width="6" height="19" alt="dots_img" />
          </div>
      </div>
  <% end %>