<div id="products">
    <h1 class="ui-widget-header">Products</h1>    
    <div id="catalog">
        <h3><a href="#">T-Shirts</a></h3>
        <div>
            <ul>
                <li id="1">Lolcat Shirt</li>
                <li id="2">Cheezeburger Shirt</li>
                <li id="3">Buckit Shirt</li>
            </ul>
        </div>
        <h3><a href="#">Bags</a></h3>
        <div>
            <ul>
                <li>Zebra Striped</li>
                <li>Black Leather</li>
                <li>Alligator Leather</li>
            </ul>
        </div>
        <h3><a href="#">Gadgets</a></h3>
        <div>
            <ul>
                <li>iPhone</li>
                <li>iPod</li>
                <li>iPad</li>
            </ul>
        </div>
    </div>
</div>

<div id="cart">
    <h1 class="ui-widget-header">Shopping Cart</h1>
    <div class="ui-widget-content">
        <ol>
            <li class="placeholder" id="test">Add your items here</li>
            <ol>
                <li class="placeholder" id="test">Add your items here</li>
            </ol>
        </ol>
    </div>
</div>

<script type="text/javascript">
/*o.v.*/
jQuery(document).ready(function($) {

    //make the catalogue and the cart into "sortables"
    $("#catalog ul, #cart ol").sortable().disableSelection();
    
    function initDroppable() {
        $("#cart ol li").droppable({
            accept: "#catalog ul li",
            hoverClass: "ui-state-hover",
            drop: function(event, ui) {
                $("<li></li>").text(ui.draggable.text()).insertAfter(this);
                console.log(ui.draggable);
                console.log(ui.draggable.attr('id'));
                console.log($(this).parent());
                initDroppable();
                event.preventDefault();
                return false;
            }
        });
    }
    
    //now initialize the cart as a droppable for the first run
    initDroppable();

});
</script>

<style type="text/css">
h1 { padding: .2em; margin: 0; }
   #products { float:left; width: 500px; margin-right: 2em;border:1px dashed orange; }
   #products h3 {background:#eee;}
    /*This float below really didn't want to play with my browser*/
    /*#cart { width: 200px; float: left; }*/
    /* style the list to maximize the droppable hitarea */
    #cart ol { margin: 0; padding: 1em 0 1em 3em; }
</style>