  <style>
  body {
    min-width: 520px;
  }
  .column {
    width: 170px;
    float: left;
    padding-bottom: 100px;
  }
  .column_full {
    width: 100%;
    float: left;
    padding-bottom: 100px;
  }
  .portlet1 {
    margin: 0 1em 1em 0;
    padding: 0.3em;
    border: 1px solid red;
  }
  .portlet-header1 {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
    border: 1px solid red;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }

  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
  </style>
  <script>
  $(function() {

    $( ".column" ).sortable({
          connectWith: ".column_full",
          forcePlaceholderSize: false,
          placeholder: "portlet-placeholder ui-corner-all",
          helper: function(e,li) {
              copyHelper= li.clone().insertAfter(li);
              return li.clone();
          },
          stop: function() {
              copyHelper && copyHelper.remove();
          }
      });
      $(".column_full").sortable({
          accept: ".column",
          placeholder: "portlet-placeholder ui-corner-all",
          receive: function(e,ui) {
              copyHelper= null;
          },
          update: function(event, ui) {
        /* If newelement ==1, this is a new element to the list, transform it */
            ui.item.html('<div class="portlet-header">Feeds</div>');         
          }
      });

  });
  </script>
</head>
<body>
  <div style="width:100%;">
 <div style="float:left;width:20%;border:1px solid red;margin-right:20px;">
    <div class="column">
     
      <div class="portlet1">
        <div class="portlet-header1">Feeds</div>
      </div>
     
      <div class="portlet1">
        <div class="portlet-header1">News</div>
      </div>
     
    </div>
     
  </div>
 <div style="float:left;width:20%;border:1px solid green;margin-right:20px">
    <div class="column">
     
      <div class="portlet">
        <div class="portlet-header">Feeds</div>
        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
      </div>
     
      
     
    </div>
     
  </div>
 

 <div style="float:left;width:50%;border:1px solid black;">
    <div class="column column_full">
     
      <div class="portlet">
        <div class="portlet-header">Feeds</div>
        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
      </div>
     
      <div class="portlet">
        <div class="portlet-header">News</div>
        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
          <div class="column_full" style="border: 1px solid black;width: 50%;">
         
            <div class="portlet">
              <div class="portlet-header">Feeds</div>
              <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
            </div>
           
            <div class="portlet">
              <div class="portlet-header">News</div>
              <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
            </div>
           
          </div>
      </div>
     
    </div>
     
        
    </div>
 
