 <div class="middle_wrapper photo_show">
		<img src="/assets/ex_9.jpg" width="530" height="300" alt="chase_large_img" />
			<img src="/assets/ex_2.jpg" width="530" height="300" alt="chase_large_img" />
	<%= render "featured" %>
</div>

