<div class="login-page">
    <div class="login-wrap">
    	<div class="login-head">
            <h2>Become a Xerofit Trainer</h2>
            <p>Already have an account?
                <a href="/">Sign in here</a>.
            </p>
        </div>
        <div class="login-body">
        	<%= render "common_templates/trainer_form" %>
        </div>
    </div>
</div>