<div class="middle_wrapper pb20">
<div class="popup_wrapper">
	<div class="popup_header">
   	  <h2>Become a Xerofit Trainer</h2>
        <p>Already have an account? <a href="combo_signup.html">Sign in here</a>.</p>
  </div>
    <div class="popp_middle">
    	<%=render "common_templates/trainer_form"%>
    </div>	
</div>
</div>
