// Dashboard Home ===================================================================================== /



.dashboard_container {
    width: 952px;
    margin: 0px auto;
}

.homepage_icons {
    margin-top: 28px;
    position: relative;
    width: 100%;
    @include clearfix();

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline;

        li {
            width: 154px;
            text-align: center;
            margin: 42px;
            height: auto;
            float: left;
            font-size: 17px;
            color: $silver31;

            img {
                width:100%;
                height:auto;
                margin-bottom: 21px;
            }

            a {
                color: $silver31;
                text-decoration:none;
            }
        }
    }
}