// Dashboard Home ===================================================================================== /



.dashboard-container {
    width: 952px;
    margin: 0px auto;
}


// Global Styles for App Icon List
ul.trainer-apps {
    margin: 0;
    padding: 0;
    list-style: none;
    @include clearfix();

    li {
        text-align: center;
        height: auto;
        float: left;
        color: $silver31;
        @include user-select(none);

        a {
            color: $silver31;
            text-decoration: none;
            position: relative;
            display: block;

            // App container
            span {
                display: block;
                position: relative;
                color: #fff;

                // App icon container
                &:before {
                    @include xerofit-icon();
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
            }

            // Title of each app
            &:after { display: block; }

            // Hover visual cue
            &:hover,
            &:focus {
                background-color: transparent;
                @include opacity(0.85);
            }
        }

        // Coming soon yellow banner
        img.coming-soon-banner {
            height: 98px;
            width: 98px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }


    // Individual app icon titles
    a.home:after { content: 'Home'; }
    a.fitness-library:after { content: 'Fitness Library'; }
    a.workout-builder:after { content: 'Workout Builder'; }
    a.discover:after { content: 'Discover'; }
    a.support:after { content: 'Support'; }
    a.performance:after { content: 'Performance'; }



    // App Containers and Icons
    li > a.home > span {
        background-color: $silver16;

        // [icon] home-line
        &:before { content: '\e61b'; }
    }

    li > a.fitness-library > span {
        background-color: #5A68F4;

        // [icon] dumbbell-line
        &:before { content: '\e648'; }
    }

    li > a.workout-builder > span {
        background-color: #FC2F6A;

        // [icon] workout-builder-line
        &:before { content: '\e600'; }
    }

    li > a.discover > span {
        background-color: #FE9739;

        // [icon] discover-line
        &:before { content: '\e64a'; }
    }

    li > a.support > span {
        background-color: $silver71;

        // [icon] support-line
        &:before { content: '\e608'; }
    }

    li > a.performance > span {
        background-color: #29CE85;

        // [icon] trend-chart-line
        &:before { content: '\e606'; }
    }
}


// Trainer homescreen apps list styles
ul.trainer-apps.homescreen {
    position: relative;
    width: 100%;
    display: block;
    margin-top: 28px;

    li {
        width: 154px;
        margin: 42px;
        font-size: 17px;

        a span {
            height: 154px;
            width: 154px;
            @include border-radius(28px);

            &:before {
                height: 84px;
                width: 84px;
                margin-top: -42px;
                margin-left: -42px;
                font-size: 75px;
                line-height: 84px;
            }
        }

        // Title of each app
        a:after { padding-top: 21px; }
    }

    img.coming-soon-banner {
        height: 98px;
        width: 98px;
    }

    li > a.fitness-library > span:before {
        width: 100px;
        margin-left: -50px;
        font-size: 90px;
    }
}