// Discover App ===================================================================================== /



// [hack] This is a hack to fix carousel dots plugin
.discover-list .owl-dots .owl-dot {
    display: none !important;

    &:nth-of-type(4n+1) { display: inline-block !important; }
}

.discover .control_bar_wrap h4 { float: left; }





// -------------------------------------------------------------------------- //
// Discover Home
// -------------------------------------------------------------------------- //



// Section container for each marketplace list
.discover-gallery {
    float: left;
    padding: 21px 20px 41px;
    width: 100%;
    position: relative;
    @include clearfix();
    margin-bottom: 28px;
    border-bottom: 1px solid #F2F2F2;

    &:last-of-type { margin-bottom: 0px; border: none; }

    // Container for content above carousel gallery
    .list-heading {
        width: 100%;
        position: relative;
        margin-bottom: 21px;
        @include clearfix();

        h3 {
            margin: 0;
            float: left;
            @include gotham200();
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1px;
        }

        a {
            color: $xero-blue;
            float: right;
            font-size: 12px;
            line-height: 14px;
            padding: 7px 0;

            // [icon] chevron-right-thick
            &:after {
                @include xerofit-icon();
                content: '\e625';
                font-size: 10px;
                line-height: 14px;
                margin-left: 4px;
            }

            &:hover,
            &:focus {
                text-decoration: none;
                color: darken( $xero-blue, 10% );
            }
        }
    }
}



// Carousel Gallery individual list items
.discover-list .list-item {
    width: 100%;
    position: relative;
    display: block;
    text-decoration: none;
    //@include clearfix();

    .list-item-img {
        width: 260px;
        height: 148px;
        margin-bottom: 14px;
        background-repeat: no-repeat;
        @include background-size(cover);
        background-position: center;
    }

    h5 {
        margin: 0;
        @include gotham500();
        color: $silver16;
        font-size: 15px;
        line-height: 18px;
        @include text-overflow();
    }

    span {
        margin-top: 2px;
        display: block;
        color: $silver51;
        font-size: 11px;
        line-height: 14px;
        @include gotham300();
    }

    &:hover,
    &:focus {
        text-decoration: none;
        //color: $xero-blue;
    }
}





// -------------------------------------------------------------------------- //
// Discover List View Page
// -------------------------------------------------------------------------- //


.discover .discover-cb-links a {
    float: left;

    &:before {
        content: '';
        background: url(/assets/icons/angle_left_blue.png);
        background-repeat: no-repeat;
        @include background-size(contain);
        background-position: center;
        display: block;
        width: 7px;
        height: 14px;
        float: left;
        margin-right: 7px;
    }
}

.discover .control_bar .move-filters {
    width: auto;
    float: right;
    position: relative;
    @include clearfix();

    span {
        float: left;
        display: block;
        height: 28px;

        select {
            font-size: 12px;
            line-height: 14px;
            height: 28px;
            background-color: #fff;
            border: 1px solid $dropdown-borders;
            color: $silver31;
            padding: 6px 30px 6px 10px;
            -webkit-transition: border-color .5s;
            -moz-transition: border-color .5s;
            -o-transition: border-color .5s;
            transition: border-color .5s;
            position: relative;
            width: 100% !important;
            @include border-radius(3px);
            @include user-select(none);

            &:hover,
            &:focus { border-color: darken( $dropdown-borders, 5% ); }

            &:after {
                content: '';
                background: url(/assets/icons/angle_down.png);
                background-repeat: no-repeat;
                @include background-size(contain);
                display: block;
                height: 5px;
                width: 10px;
                position: absolute;
                top: 50%;
                right: 8px;
                margin-top: -2px;
            }
        }
    }

    .target-muscles { margin-right: 28px; }

    .select_target_muscle_group {}


}




// -------------------------------------------------------------------------- //
// Discover Single Move Video Page
// -------------------------------------------------------------------------- //



// Control Bar
.discover .header-title-wrap {
    width: 100%;
    position: relative;
    @include clearfix();

    img {
        float: left;
        margin-right: 21px;
        width: auto;
        height: 56px;
    }

    h4 {
        width: auto;
        float: left;
        font-size: 23px;
        line-height: 28px;
        margin: 0;
    }
}


// Scrolling fixed header container
#discover-video-header {
    background: #fff;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    @include clearfix();

    .show-on-scroll { padding-top: 14px; padding-bottom: 13px; }

    // Make img smaller in fixed header
    .header-title-wrap img { height: 28px; }
}



// Container for video player
section.video-player {
    width: 100%;
    position: relative;
    background-color: $silver16;

    video {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}



// Section Headers and dividers
.discover h4.section-title {
    @include gotham200();
    font-size: 21px;
    color: $silver51;
    line-height: 25px;
    padding-bottom: 16px;
    margin-bottom: 28px;
    border-bottom: 1px solid #F2F2F2;
    letter-spacing: -1px;
}



// Container for move metadata
section.video-details {
    width: 100%;
    position: relative;
    background: #fff;
    padding-top: 28px;
    padding-bottom: 70px;

    .move-attribution {
        width: 100%;
        position: relative;
        @include clearfix();
        margin-bottom: 42px;

        .trainer-avatar {
            float: left;
            width: 56px !important;
            height: auto;
        }

        div.video-title {
            float: left;
            padding: 7px 14px;

            h3 {
                font-size: 18px;
                line-height: 21px;
                margin: 0;
                margin-bottom: 7px;

            }
            span {
                display: block;
                font-size: 11px;
                line-height: 14px;
                color: $silver71;
            }
        }
    }


    // Styling that applies to both sections
    aside ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        @include clearfix();

        li {
            float: left;
            width: 100%;
            position: relative;
            display: block;

            p { margin: 0; }
        }
    }


    // Left section of move basic info (large section)
    .move-basic-info ul li {
        margin-bottom: 28px;

        // Dont add a margin to the last one
        &:last-of-type { margin: 0; }

        label {
            @include gotham500();
            color: $silver16;
            width: 100%;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 12px;
        }

        p {
            line-height: 1.5;
            @include gotham300();
        }
    }


    // Right column with move details (small section)
    .move-details ul li {
        @include clearfix();
        margin-bottom: 7px;

        // Dont add a margin to the last one
        &:last-of-type { margin: 0; }

        label {
            float: left;
            display: block;
            @include gotham400();
            color: $silver16;
            text-align: right;
            width: 30%;
            font-size: 12px;
            line-height: 14px;
            margin: 0;
            padding-right: 7px;
        }

        p {
            width: 70%;
            padding-left: 7px;
            float: left;
            @include gotham300();
            font-size: 12px;
            line-height: 14px;
        }
    }
}