.content.workout-builder{ padding-bottom: 0; }

.header-scroll {
    background: #fff;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 13px;
    @include clearfix();

    .header-title {
        width: auto;
        float: left;

        h4 {
            font-size: 23px;
            line-height: 28px;
            margin: 0;
        }
    }
}

.show-on-scroll { display: none; }

.middle_wrapper.autoheight {
    //min-height: 400px;
}

.disable-scroll {
    overflow: hidden;
}

#enter-fullscreen,
#exit-fullscreen {
    float: left;
    margin-right: 14px;
}


.details_page_header.workout-builder {
    border-bottom: 1px solid #D8D8D8;
}













// Setup the 2 Column builder layout
.builder {
    width: 100%;
    position: relative;
    background: #fff;
    float: left;
    padding: 0;
}

.builder .column {
    position: absolute;
    top: 0;
    bottom: 0;

    &.split-left { width: 380px; }
    &.split-right { left: 380px; }

    .column-wrap {
        //overflow-y: scroll;
        width: auto;
        top: 0;
        //right: 0;
        bottom: 0;
    }


}

.column.split-right .column-wrap {
    border-left: 2px solid $border-color;
    overflow: auto;
}



// -------------------------------------------------------------------------- //
// Fitness Library panel with list of Single Moves
// -------------------------------------------------------------------------- //


.fitness-library-panel {
    position: relative;
    float: left;
}

.builder-panel {
    @include clearfix();
    position: relative;
    width: 380px;
    height: 100%;
    overflow-y: scroll;

    .library-moves {
        @include clearfix();
    }

    // Drag & Drop Single Moves from User Library
    .single-move {
        width: 100%;
        float: left;
        background: #fff;
        padding: 14px 14px 13px;
        border-bottom: 1px solid #E5E5E5; // 90% Gray
        cursor: move;
        @include clearfix();
        @include user-select(none);

        .move-thumb {
            float: left;
            margin-right: 14px;
        }

        img {
            width: 70px;
            height: 42px;
        }

        .move-title {
            float: left;
            height: 42px;
            padding: 6px 0px;

            // Move Title
            h6 {
                font-size: 12px;
                line-height: 14px;
                color: $silver16;
                @include gotham400();
                margin-bottom: 4px;
            }

            // Move Category
            p {
                font-size: 9px;
                line-height: 12px;
                @include gotham300();
                color: $silver51;
                margin: 0px;
            }
        }
    }

    .single-move.disabled {
        background: #F9F9F9;
        cursor: not-allowed;
    }
}

.builder-header {
    float: left;
    width: 100%;
    position: relative;
    @include clearfix();

    > h3 {
        float: left;
        font-size: 14px;
        line-height: 16px;
        @include gotham500();
        margin-bottom: 12px;

        &:after {
            display: block;
            float: right;
            margin-left: 14px;
            height: 16px;
            width: 16px;
            content: '';
            background: url('/assets/icons/question_mark.png');
            background-repeat: no-repeat;
            @include background-size(contain);
        }
    }
}

.builder-search-bar {
    float: left;
    width: 100%;
    position: relative;
    @include clearfix();
    margin-bottom: 14px;
}

#search-move-titles {
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
}




// -------------------------------------------------------------------------- //
// Move Details panel to edit workout options
// -------------------------------------------------------------------------- //


#move-details-panel {
    background: #FFF;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 3;
}


// Panel Header styling
.panel-head {
    width: 100%;
    position: relative;
    background: #F2F2F2;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;

    > h5 {
        font-size: 12px;
        line-height: 14px;
        @include gotham500();
        color: $silver16;
        letter-spacing: 2px;
    }

    .close-panel {
        position: absolute;
        top: 3px;
        right: 3px;
        padding: 4px;
        border: none;
        background: none;

        &:before {
            display: block;
            height: 14px;
            width: 14px;
            content: '';
            background: url('/assets/icons/modal_close_icon.png');
            background-repeat: no-repeat;
            @include background-size(contain);
        }
    }
}

// Styling for all sections in editor

.builder-panel .panel-inputs {
    padding: 14px 40px;
    width: 100%;
    position: relative;
    @include clearfix();

    .input-section {
        width: 100%;
        float: left;
        position: relative;
        padding: 13px 0 21px;
        border-bottom: 1px solid #F2F2F2;
        @include user-select(none);
    }

    .section-title {
        float: left;
        width: 100%;
        position: relative;
        line-height: 16px;
        font-size: 14px;

        label {
            width: 100%;
            margin: 0;
            @include gotham500();
            @include user-select(none);
        }

        input {
            position: absolute;
            right: 0;
            top: 1px;
            margin: 0;
            height: 14px;
            width: 14px;
        }
    }

    .input-wrap {
        float: left;
        padding-top: 20px;
        width: 100%;
        position: relative;
        @include clearfix();
    }


    // Styling for specific sections

    #weight .input-wrap label {
        @include gotham300-italic();
        font-size: 11px;
        line-height: 14px;
    }
}
// -------------------------------------------------------------------------- //
// Previous styles copied over from css/style.css
// -------------------------------------------------------------------------- //

.fitler_col {
    width: 100%;
}


.add_photo{
    float:left;
    padding-left:13px;

    img{width:100%; height:auto}
}



.col_1 {
    width:100%;
    float:left;
    border-bottom:1px solid #e1e3e5;
    padding-bottom:20px;
    margin-bottom:35px;

    h2 {
        font-size:28px;
        color:#919295;
        font-family: 'gotham_extralightregular';
        margin-bottom:10px;
    }

    p {
        font-size:12px;
        color:#151f25;
        font-family: 'gotham_extralightregular';
        font-style:normal;
        font-weight:bold;
    }
}





.min_max_col{
    width:100%;
    float:left;
    margin-top:13px;
}
.min_max_col.mt {
    margin-top:0px;
}

.min_col {
    width: 17%;
    float:left;
    margin-right: 31px;
}


.min_col.min_col_1{
    width:20%;
}

.fancy_select.w60{ width:60%}
.min_m{
    margin-right:0px;
}
.min_col label{
    font-size:9px;
    color:#888688;
    text-align:center;
    width:100%;
    float:left;
    margin-top:3px;
}
.min_max_select{
    width:100%;
    float:left;
    background:#fff;
    border:1px solid #bebfc1;
    padding:2px;
    font-size:12px;
    font-family: 'gotham-bookgotham-book';
    color:#626364;
    margin:0px;
}
.check_col_1{
    width:32%;
    float:left;
}
.check_col_1 label{
    font-size:11px;
    font-family: 'gotham-bookgotham-book';
    color:#626364;
}

.min_col_1 .integer  input{
    //width: 55px;
    //padding: 7px;
}

.min_col_1 .integer input:focus{
    outline: none;
}









.range_select {
    width:100%;
    float:left;
    background:#fff;
    border:1px solid #bebfc1;
    padding:6px;
    border-radius:3px;
    font-size:12px;
    font-family: 'gotham-bookgotham-book';
    color:#626364;
    margin:0px;
}



