<div id="panda_widget_container"></div>

<script src="//cdn.pandastream.com/w/1.0/widget.js"></script>
<script>
  PANDA.encodingWidget({
    targetElement: "#panda_widget_container",
    apiKey: "bc9b4621c56e6ee04410",
    cloudId: "fce8b71fe144517bb8cca8f21a2e366b",
    width: 250,
    height: 360
  });
</script>