<div class="col-md-8">
    <table class="table table-bordered table-striped">
      <tr>
        <th colspan="6" class="cent">Latest Registered</th>
      </tr>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Fullname</th>
        <th>Role</th>
        <th>Date Registered</th>
        <th>Action</th>
      </tr>
      
    </table>
</div>
<div class="col-md-4">
  <table class="table table-bordered table-striped">
      <tr>
        <th colspan="2" class="cent">Statistics</th>
      </tr>
      <tr>
        <td>Admins</td>
        <td></td>
      </tr>
      <tr>
        <td>Trainers</td>
        <td></td>
      </tr>
      <tr>
        <td>Normal Users</td>
        <td></td>
      </tr>
      <tr>
        <td>Libraries</td>
        <td></td>
      </tr>
       <tr>
        <td>Workouts</td>
        <td></td>
      </tr>
    </table>
</div>

