button, input[type="button"], input[type="reset"], input[type="submit"] {
    font-weight: normal;
    background-color: none;
}

.btn {
    font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: $xero-blue;
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-align: center;
    padding: 1em 3em;
    @include border-radius(5px);
    //text-transform: uppercase;
    border: 1px solid $xero-blue;
    background-color: transparent;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;

    &:hover {
        background-color: $xero-blue;
        color: #fff;
    }

    &:visited {
        color: $xero-blue;
        &:hover { color: #fff; }
    }
}

.btn::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.btn:hover::after {
    opacity: 1;
}

.btn .btn-delete {
    color: red;
    border: 2px solid red;

    &:hover {
        background: red;
        color: #fff;
    }
}

.small-btn {
    font-size: 10px;
    padding: 8px 16px;
}

.btn-white {
    color: #fff;
    border: 1px solid #fff;

    &:hover {
        background: rgba(255,255,255,0.25);
        color: #fff;
    }

    &:visited {
        color: #fff;
        //&:hover { color: $xero-blue; }
    }
}

.btn-default {
    color: $text-color;
    border: 1px solid $text-color;

    &:hover {
        background: $text-color;
        color: #fff;
    }

    &:visited {
        color: $text-color;
    }
}

.cta-btn { margin-top: 40px; }