// Tooltips ===================================================================================== /



.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 10px;
  line-height: 12px;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}

.tooltip.in { @include opacity(0.95); }

.tooltip.top {
  padding: 6px 0;
  margin-top: -4px;
}
.tooltip.right {
  padding: 0 6px;
  margin-left: 4px;
}
.tooltip.bottom {
  padding: 6px 0;
  margin-top: 4px;
}
.tooltip.left {
  padding: 0 6px;
  margin-left: -4px;
}

// Tooltip content container
.tooltip-inner {
  max-width: 212px;
  padding: 7px 14px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: $silver16;
  border-radius: 6px;
}

// Tooltip Arrows
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: $silver16;
}



.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 6px;
  border-width: 6px 6px 0;
  border-top-color: $silver16;
}
.tooltip.top-right .tooltip-arrow {
  right: 6px;
  bottom: 0;
  border-width: 6px 6px 0;
  border-top-color: $silver16;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
  border-right-color: $silver16;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-left-color: $silver16;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-bottom-color: $silver16;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 6px;
  border-width: 0 6px 6px;
  border-bottom-color: $silver16;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 6px;
  border-width: 0 6px 6px;
  border-bottom-color: $silver16;
}





// -------------------------------------------------------------------------- //
// Yelow Questionmark Tooltip Theme
// -------------------------------------------------------------------------- //


// Theme Color
$question-yellow: #e6db74;

// Tooltip Container
.tooltip.tooltip-question {
  @include user-select(none);
  font-size: 10px;
  line-height: 14px;
  @include gotham400();

  &:hover {cursor: default;}
}


.tooltip-question .tooltip-inner {
  max-width: 280px;
  text-align: left;
  color: $silver16;
  background-color: $question-yellow;
}

// Yellow Tooltip Arrows
.tooltip.bottom .tooltip-arrow.arrow-question { border-bottom-color: $question-yellow; }
.tooltip.top .tooltip-arrow.arrow-question { border-top-color: $question-yellow; }
.tooltip.bottom .tooltip-arrow.arrow-question { border-bottom-color: $question-yellow; }
.tooltip.right .tooltip-arrow.arrow-question { border-right-color: $question-yellow; }
.tooltip.left .tooltip-arrow.arrow-question { border-left-color: $question-yellow; }

