#video-container {
    width: 560px;
    height: 316px;
    position: relative;

    button {
        background: rgba(0,0,0,.5);
        border: 0;
        color: #EEE;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;

        &:hover {
            cursor: pointer;
        }
    }
}

#video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    opacity: 0;
    @include transition(opacity .3s);
    background: rgba(23,35,34,.75);
    background-image: linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -o-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);

    > div { float: left;}

}

#video-container:hover #video-controls {
    opacity: .9;
}


#seek-bar {
    width: 360px;
}

#volume-bar {
    width: 60px;
}