<div class="col-md-12">
  <div class="col-md-9">
  	<div class="admin-sort-container">
		<span class="admin-sort-label" >Sort By: </span>
		<span class="admin-sort-select">
			<%= select_tag :sorted, options_for_select(@sort_array), class: "form-control" %>
		</span>
	</div>
  </div>
  <div class="col-md-3"></div>
</div>

