<div class="middle_wrapper">
  <div class="popup_wrapper">
    <div class="popup_header">
      <h2>Your password is being reset</h2>
    </div>
    <div class="popp_middle">
      <p>Your should be receiving an email momentarily with instructions on how to set a new password.</p>

      <span class="lost_pass_txt">
              <%= link_to "Back to login", new_user_session_path %>
      </span>
    </div>
  </div>
</div>


