<div class="zmiddle_wrapper">
  <div class="popup_wrapper">
    <div class="popup_header">
      <span class="reset_img"><img src="/assets/tick_icon1.png" style="margin-bottom:36px;"/></span>
      <h2>Your password is being reset</h2>
    </div>
    <div class="popp_middle">
      <p class="reset_text">Your should be receiving an email momentarily with instructions on how to set a new password.</p>

      <span class="lost_pass_txt">
              <%= link_to "Back to login", new_user_session_path %>
      </span>
    </div>
  </div>
</div>


