<div class="login-page">
    <div class="login-wrap">
        <div id="reset-password">
            <h2>Your password is being reset</h2>
            <p>Your should be receiving an email momentarily with instructions on how to set a new password.</p>
            <span class="reset-pass-footer">
                <%= link_to "Back to login", new_user_session_path %>
            </span>
        </div>
    </div>
</div>