<div class="login-page">
    <div class="combo-join-wrap login-wrap">
        <div class="split-left">
            <div class="login-head">
                <h2>Get on the List</h2>
                <p>Right now Xerofit is only available with an invitation, but you can get on the list for early access below.</p>
            </div>
            <div class="login-body">
                <%= render "common_templates/user_form" %>
            </div>
        </div>
        <div class="split-right">
            <div class="login-head">
                <h2>Become a Xerofit Trainer</h2>
                <p>Already have an account?
                    <a href="/">Sign in here</a>.
            </div>
            <div class="login-body">
                <%= render "common_templates/trainer_form" %>
            </div>
        </div>
    </div>
</div>