<div class="login-wrap">
    <div class="login-wrap">
        <div class="login-head">
            <h2>Get on the List</h2>
            <p>Right now Xerofit is only available with an invitation, but you can get on the list for early access below.</p>
        </div>
        <div class="login-body">
            <%= render "common_templates/user_form" %>
        </div>
    </div>
</div>