//
// ==================================================================
// Layout Structure
// ==================================================================
//


html,
body {
    margin: 0px;
    padding: 0px;
    height:100%;
    @include gotham300();
}

body { background: #f7f7f7; }

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    position: relative;
}

.topbar {
    width: 100%;
    height: 56px;
    background: #fff;
    border-bottom: 1px solid #E3E3E3;
}

.login-page {
    width: 100%;
    position: relative;
    padding-top: 70px;
    padding-bottom: 42px;
}

.content {
    padding: 0;
    margin: 0;
    padding-bottom: 112px;
    @include clearfix;
}

.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 42px;
    line-height: 42px;
    border-top: 1px solid #e3e3e3;
    font-size: 10px;
    color: $silver51;
    @include clearfix();

    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

    li {
        display: inline;
        &:after {
            content: "\007C";
            padding: 0px 4px;
        }
    }

    li.no-pipe:after { content: ""; }

    a {
        color: $silver51;
        text-decoration: none;

        &:hover {
            color: darken( $silver51, 20% );
            border-bottom: 1px solid darken( $silver51, 20% );
        };
    }
}

.footer_rht_col,
.footer_lft_col {
    width: 50%;
    float: left;
    position: relative;
}

.footer_rht_col { text-align: right; }

.topbar-wrap {
    width: 100%;
    position: relative;
    @include clearfix();
}

.topbar_logo {
    position: absolute;
    left: 50%;
    margin-left: -64px;
    width: 128px;
    padding: 0;
    padding: 17px 0;
}

#xerofit_logo {
    display: block;
    height: 21px;
    background-repeat: no-repeat;
    @include background-size(contain);
    background-position: center center;
    background-image: url("logo/xerofit_logo_main_nav@2x.png");

    &:hover {
        @include opacity(0.85);
    }
}





// -------------------------------------------------------------------------- //
// Login Pages
// -------------------------------------------------------------------------- //



.login-wrap {
    width: 430px;
    padding: 40px;
    overflow: hidden;
    position: relative;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    @include border-radius(4px);

    .login-head {
        width: 100%;
        float: left;
        padding-bottom: 28px;

        h2 {
            color: $silver16;
            font-size: 23px;
            line-height: 28px;
            margin: 0;
            margin-bottom: 7px;
            @include gotham400();
        }

        p {
            color: $silver51;
            font-size: 11px;
            line-height: 14px;
            margin: 0;

            a {
                color: $silver51;
                text-decoration: none;
                border-bottom: 1px solid $silver51;
                cursor: pointer;

                &:hover{
                    color: $xero-blue;
                    border-bottom: 1px solid $xero-blue;
                }
            }
        }

        p.left_p{ margin-top:34px; }

        &.border_none {
            border-bottom: 0;
            padding-top: 65px;
            padding-bottom: 0;
        }

        &.border_none.txt_cent {
            text-align: center;
            padding-top: 56px;
            padding-bottom: 21px;

            img { margin-bottom:30px; }
        }
    }

    .login-body {
        width: 100%;
        float: left;
        padding-top: 14px;

        .input-field-wrap input { padding: 8px 10px; }

        .input-field-wrap.fname,
        .input-field-wrap.lname { width: 160px; }

        .input-field-wrap.lname {float: right; }
    }
}

.login-btn {
    margin-top: 28px;
    background: $xero-blue;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    padding: 16px 28px;
    @include border-radius(5px);
    border: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.login-page .btn-footnote {
    font-size: 10px;
    line-height: 12px;
    margin-top: 8px;
    color: $silver51;
    width: 100%;
    display: block;
    float: left;
    text-align: center;

    a {
        color: $silver71;
        text-decoration: none;
        border-bottom: 1px solid $silver71;
        cursor: pointer;

        &:hover{
            color: $xero-blue;
            border-bottom: 1px solid $xero-blue;
        }
    }
}





// -------------------------------------------------------------------------- //
// Reset Password Page
// -------------------------------------------------------------------------- //



.login-wrap #reset-password {
    width: 100%;
    position: relative;
    float: left;
    text-align: center;

    &:before {
        display: block;
        content: '';
        background: url(/assets/icons/checkmark_reset.png);
        width: 70px;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        @include background-size(contain);
        background-position: center;
    }

    h2 {
        font-size: 23px;
        line-height: 28px;
        @include gotham400();
        margin-top: 42px;
        margin-bottom: 14px;
    }

    p {
        text-align: center;
        font-size: 12px;
        line-height: 21px;
        color: $silver51;
        margin: 0;
    }

    .reset-pass-footer {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 42px;

        a {
            color: $xero-blue;
            text-decoration: none;
            border-bottom: 1px solid $xero-blue;
            cursor: pointer;
            font-size: 12px;
            line-height: 14px;

            &:hover{
                color: darken( $xero-blue, 15% );
                border-bottom: 1px solid darken( $xero-blue, 15% );
            }
        }
    }
}


// Show hide password toggles
.toggle-pass,
.toggle-pass1,
.toggle-pass2 {
    position: absolute;
    bottom: 9px;
    right: 10px;
    font-size: 11px;
    line-height: 14px;
    color: $silver16;
    @include gotham500();
    @include user-select(none);
    cursor: pointer;
}

.error_notification,
.error-messages {
    color: $xero-red;
}

.error-messages {
    display: block;
    margin-bottom: 14px;
    font-size: 11px;
    line-height: 14px;
}





// -------------------------------------------------------------------------- //
// Combo Signup Form
// -------------------------------------------------------------------------- //



.login-page .login-wrap.combo-join-wrap { width: 860px; }

.combo-join-wrap .split-left,
.combo-join-wrap .split-right {
    width: 350px;
}

.combo-join-wrap .split-left { float:left; }
.combo-join-wrap .split-right { float:right; }





// Not sure what this is
.user_password.field_with_errors .error {
    display: none;
}

