//
// ==================================================================
// Main Layout Structure
// ==================================================================
//


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    position: relative;
}

.topbar {
    width: 100%;
    height: 56px;
    background: #fff;
    border-bottom: 1px solid #E3E3E3;
}

.content {
    padding: 0;
    margin: 0;
    padding-bottom: 112px;
    @include clearfix;
}

.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 42px;
    line-height: 42px;
    border-top: 1px solid #e3e3e3;
    font-size: 10px;
    color: $silver51;

    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }

    li {
        display: inline;
        &:after {
            content: "\007C";
            padding: 0px 4px;
        }
    }

    li.no-pipe:after { content: ""; }

    a {
        color: $silver51;
        text-decoration: none;

        &:hover {
            color: darken( $silver51, 20% );
            border-bottom: 1px solid darken( $silver51, 20% );
        };
    }
}

.footer_rht_col { text-align: right; }




//
// ==================================================================
// Topbar Styles
// ==================================================================
//


.topbar_wrap {
    width: 100%;
    position: relative;
    @include clearfix();
}

.global_nav {
    padding: 14px 0px;
    float: left;
}


// Global Navigation
a.global_nav_toggle {
    display: block;
    width: 100%;
    position: relative;
    padding-right: 20px;
    font-size: 17px;
    line-height: 28px;
    color: $silver31;
    text-decoration: none;

    &:after {
        content: '';
        background: url(/assets/icons/chevron_down.png);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 12px;
        height: 28px;
        background-repeat: no-repeat;
        @include background-size(contain);
        background-position: center;
    }

}


ul.global_nav_dropdown.dropdown-menu {
    padding: 19px; // Offset the 1px border
    width: 580px;

    > li {
        display: inline-block;
        float: left;
        @include clearfix;
        padding: 10px;

        > a {
            display: inline-block;
            padding: 0;
            font-size: 12px;
            line-height: 14px;

            &:hover,
            &:focus {
                background-color: transparent;
            }
        }
    }
    li.left_app {padding-left: 0px;}
    li.right_app {padding-right: 0px;}
    li.btm_app {padding-bottom:0px; padding-top:20px;}
}

// Global Nav App Icons
.home_app { background: url(/assets/home_icon.png);}
.fitness_library_app { background: url(/assets/fitness_icon.png);}
.workout_builder_app { background: url(/assets/workout_icon.png);}
.support_app { background: url(/assets/support_icon.png);}
.performance_app { background: url(/assets/performance_icon.png);}

.dropdown_app_icon {
    height: 125px;
    width: 120px;
    background-repeat: no-repeat;
    @include background-size(100px);
    background-position: center top;
    position: relative;

    > span {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}


// Topbar Xerofit Logo
.topbar_logo {
    position: absolute;
    left: 50%;
    margin-left: -64px;
    width: 128px;
    padding: 0;
    padding: 17px 0;
}

#xerofit_logo {
    display: block;
    height: 21px;
    background-repeat: no-repeat;
    @include background-size(contain);
    background-position: center center;
    background-image: url("logo/xerofit_logo_main_nav@2x.png");

    &:hover {
        @include opacity(0.85);
    }
}


// Topbar Utility Menu
.utility_menu {
    padding: 14px 0px;
    width: auto;
    float: right;
    position: relative;
    @inclcude clearfix;
}

.utility_dropdown {
    float: left;

    a.utility_menu_toggle {
        display: block;
        width: 100%;
        position: relative;
        padding-right: 18px;
        text-decoration: none;
        color: $silver31;

        &:after {
            content: '';
            background: url(/assets/icons/chevron_down.png);
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 10px;
            height: 28px;
            background-repeat: no-repeat;
            @include background-size(contain);
            background-position: center;
        }

        img {
            width: 28px;
            height: 28px;
            border-radius: 100%;
        }

        .user_name {
            text-align: right;
            margin-left: 6px;
        }
    }
}

.notification_dropdown {
    float: left;
    width: auto;
    position: relative;
    padding: 0 20px;

    a.notification_menu_toggle {
        display: block;
        height: 28px;
        width: 28px;
        background: url(/assets/icons/notifications_icon.png);
        background-repeat: no-repeat;
        @include background-size(24px);
        background-position: center;
    }

    ul.notification_menu_dropdown {
        width: 220px;
        left: 50%;
        margin-left: -110px;
    }
}