<%= render "common_templates/admin/sort_select" %>
  <div class="col-md-9 search_user">
      <%= render "admin/moves/uncut_workout_content_table", uncuts_wrk: true, moves: @moves%>
  </div>
  <div class="col-md-3">
    <%= render "admin/moves/uncut_filter"%>
  </div>