<div class="header_wrapper dashboard_header">
	<div class="head_lft">
   	  <div class="back_arrow"><a href="#">Back</a></div>
    </div>
    <div class="head_cent"> 
        <a href="<%=edit_profile_settings_path %>"><img src="/assets/cb_1.jpg" width="27" height="27" alt="cb_1" /></a>
        <a href="#"><img src="/assets/cb_2.jpg" width="23" height="27" alt="cb_2" class="m_32"/></a>
        <a href="#"><img src="/assets/cb_3.jpg" width="35" height="27" alt="cb_3" /></a>
    </div>
    <div class="head_rht">
   	  <div class="next_arrow"><a href="#">Next</a></div>
    </div>
</div>
<div class="middle_wrapper">
	<div class="workout_col">
    	<%= render "workout_left_menu" %>
        <div class="workout_col_mid">
        	<div class="col_1">
            	<h2>New Workout</h2>
                <p>Workout Subtitle</p>
            </div>
            <div class="add_photo ">
              <ol>
                <p class="placeholder">hello</p> 
                    <!-- <ul>
                        <li class="placeholder">
                        </li>
                   </ul> -->
                 </ol>
            </div>
        </div>
        <%= render "workout_right_menu" %>
    </div>
</div>


<script>
  $(function() {
    $( ".white_list_left h6" ).draggable({
        appendTo: "add_photo ol",
        helper: "clone"
    });
    $( ".add_photo ol" ).droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      accept: ":not(.ui-sortable-helper)",
      drop: function( event, ui ) {
        $( this ).find( ".placeholder" ).remove();
        $("<li> </li>").html(ui.draggable.html()).appendTo(this);
    }
    })
  });
</script>
