<div class="close_equip for_on_changed <%=equip.blank? ? 'hide' : ''%>" id="equip_div_<%= index %>">
  <span class="fl_text"><%= equip %></span>
   <span>
    <a href="javascript:void(0)" class="equip_close_icon" data-id="<%= index %>">X
    </a>
  </span>
</div>