<div class="exr_field_col del">
  	<label><%= abc %></label>
    <div class="fancy_select">
        <%= lib.select :target_muscle_group, ['body','sholder','arms'], prompt: "Select Primary Target" %>
    </div>
</div>
