<% if @size.present? %>
    <ul id="video-thumbnails">
        <% @size.each_with_index do |move, index| %>
            <% image_hide = index > 2 ? 'thumb-row hide-thumb' : '' %>
            <% selected_thumb = index == 0 ? 'select_thumb' : '' %>
            <li class='<%="#{image_hide}"%>' style="background-image: url(<%= @size[index] %>);" index='thumbnail-<%= "#{index}" %>'>
                <div class="video_title <%=selected_thumb%>">Selected</div>
            </li>
        <% end %>
    </ul>
    <p class="load-more"><a href='javascript:void(0)'>Show all</a></p>
    <p class="load-less"><a href='javascript:void(0)'>Show less</a></p>
<% else %>
    <p class="input_sub_text">Thumbnail selections will appear when the video has finished processing.</p>
<% end %>





<% if disabled == false %>
    <script>
        $(document).ready(function(){
            $(document).on('click','#video-thumbnails li', function(){
                // if(!$(this).find('.video_title').hasClass('select_thumb')){
                    var url = $(this).css('background-image');
                    var src = url.substring(4, url.length-1);

                    $('.image_url').val(src);
                    $('.select_thumb').removeClass('select_thumb');
                    $(this).find('.video_title').addClass('select_thumb');
                    $('.chg_save').removeClass('dis_link');
                    check_require_field();
                // }
            });

            $(document).on('click','.load-more', function(){
                $('.thumb-row').toggleClass('hide-thumb');
                $('.load-more').hide();
                $('.load-less').show();
            });

            $(document).on('click','.load-less', function(){
                $('.thumb-row').toggleClass('hide-thumb');
                $('.load-less').hide();
                $('.load-more').show();
            });
        })
    </script>
<% end %>

