<h5>Video Thumbnail</h5>
  <% temp = 0 %>
  <% for i in 0..2 %>
    <% if(temp == 0) %>
     <ul>
      <li><%= image_tag(@video.panda_mp4.screenshots[i], width: "167", height: "93", alt: "upload_thumb") %>
      </li>
      <% temp = temp+1 %>
    <% elsif(temp<2) %>
      <li class="margn45"><%= image_tag(@video.panda_mp4.screenshots[i], width: "167", height: "93", alt: "upload_thumb") %></li>
      <% temp = temp+1 %>
    <% else %>
      <li><%= image_tag(@video.panda_mp4.screenshots[i], width: "167", height: "93", alt: "upload_thumb") %></li>
      <% temp = 0 %>
      </ul>
    <% end %>
    <%if !(6%3 == 0)%>
      </ul>
    <%end%>
  <% end %>