<div class="exer_lft_col lib_form_lft" id="dragandrophandler">
  <div class="video_uplod">
   <div class="video_uplod_icon">
    <img src="/assets/upload_icon.png" width="46" height="38" alt="Upload" />
    </div>
    <div class="video_uplod_txt">
       <h2>Drag and Drop to upload video file</h2>
          <div id="progressbar"></div>
          <p></p>
          <span class="fl choose_btn upload_video">
            choose file
          </span>
      </div>
  </div>
</div>
<%= simple_form_for(LibraryVideo.new, url: videos_path, remote: true, html: {id: 'video_upload_form'}) do |video| %>
    <div class="form-inputs" style="display:none">
      <%= hidden_field_tag :lib_id, (@library.id ? @library.id : "") %>
      <%= hidden_field_tag :video_old_id, (@library.library_video ? @library.library_video.id : "") %>
      <%= video.file_field :video %>
    </div>
  <% end %>
<script>

var size=0, upl=0, upl1=0;
$(".upload_video").click(function(){
  $("#library_video_video").click();
});
$('#library_video_video').on('change', function(e) {
  var file = e.target.files[0];
  size = (file.size/1024/1024).toFixed(2);
  upl = size/100;
  $('.video_uplod_txt h2').text(file.name);
  $('.video_uplod_txt p').text(upl+' MB of '+size+' MB');
  $("#video_upload_form").submit();
 });
 
 $('form').ajaxForm({  
   beforeSend: function(e) {  
     var percentVal = 0;  
     $( "#progressbar" ).progressbar({
      value: percentVal
    });
    
   },  
   uploadProgress: function(event, position, total, percentComplete) {  
     upl1 = (upl * percentComplete).toFixed(2);
     $('.video_uplod_txt p').text(upl1+' MB of '+size+' MB');
     $( "#progressbar" ).progressbar({
        value: percentComplete
      });   
     if(percentComplete >= 99 ){
       console.log("completing");
       $('.video_uplod_txt p').text('please wait.. uploading to server');
       }
       // $("#video_upload_form").remove()
     // return false;
   },  
   complete: function(xhr) {  
    // event.preventDefault()
   }  
 });   
 
</script>
