<div class="exer_lft_col">
  <%= simple_form_for(@libvideo, url: videos_path, remote: true, html: {id: 'video_upload_form'}) do |video| %>
    <div class="form-inputs">
      <%= video.file_field :video %>
    </div>
    <input type="button" value="submit video" class="video_submit">
  <% end %>

  <div id="progressbar" class="progressbar_div"><div class="progress-label"></div></div>
    <div class="thumbnail_col">
      <!-- <h5>Video Thumbnail</h5> -->
    </div>
    <!-- <p><a href="#">Load more thumnails...</a></p> -->
</div>

<script>
  $('.video_submit').click(function(){
    $("#video_upload_form").submit();
    $(function() {
      var progressbar = $( "#progressbar" ),
      progressLabel = $( ".progress-label" );
        progressbar.progressbar({
            value: false,
            change: function() {
              var vl = progressbar.progressbar( "value" );
              vl = vl ? vl+" %" : '';
              progressLabel.text( vl );
            },
            complete: function() {
              progressLabel.text( "Complete!" );
            }
        });
      });



  });
 </script>
