<div class="exer_lft_col">
    <!-- <img src="/assets/video_img.png" width="586" height="330" alt="Video" />  -->
    <%#= image_tag(@user.video_url) if @user.avatar? %>
    <h4>Video Details</h4>
    <div class="big_video_col">
       <h5>Video File</h5>
    <video width="586" height="330" controls>
      <source src="<%= @library.library_video.panda_mp4.url %>" type="video/mp4">
    </video> 
  </div>

    <div class="thumbnail_col">
      <h5>Video Thumbnail</h5>
      <%= render 'thumbnail' %>
    </div>
    
</div>