<div class="exer_lft_col">
  <div class="video_uplod">
   <div class="video_uplod_icon upload_video">
    <img src="/assets/upload_icon.png" width="46" height="38" alt="Upload" />
    </div>
    <div class="video_uplod_txt">
       <h2>Drag and Drop to upload video file</h2>
          <div id="progressbar"></div>
          <p></p>
          <span class="fl choose_btn">
            choose file
          </span>
      </div>
  </div>
</div>
<%= simple_form_for(@libvideo, url: videos_path, remote: true, html: {id: 'video_upload_form'}) do |video| %>
    <div class="form-inputs" style="display:none">
      <%= video.file_field :video %>
    </div>
  <% end %>
<script>
var size=0, upl=0, upl1=0;
$(".upload_video").click(function(){
  $("#library_video_video").click();
});
$('#library_video_video').on('change', function(e) {
  size = (this.files[0].size/1024/1024).toFixed(2);
  upl = size/100;
   $('.video_uplod_txt h2').text(e.target.files[0].name);
   $('.video_uplod_txt p').text(upl+' MB of '+size+' MB');
   $("#video_upload_form").submit();
 });
 (function() {  
 $('form').ajaxForm({  
   beforeSend: function() {  
     var percentVal = 0;  
     $( "#progressbar" ).progressbar({
      value: percentVal
    });  
   },  
   uploadProgress: function(event, position, total, percentComplete) {  
     upl1 = (upl * percentComplete).toFixed(2);
     $('.video_uplod_txt p').text(upl1+' MB of '+size+' MB');
     $( "#progressbar" ).progressbar({
        value: percentComplete
      });   
     if(percentComplete >= 99 ){
       console.log("completing");
       $('.video_uplod_txt p').text('please wait.. uploading to server');
       }
   },  
   complete: function(xhr) {  
    
   }  
 });   
 })(); 
</script>
