<div class="exer_lft_col">
    <!-- <img src="/assets/video_img.png" width="586" height="330" alt="Video" />  -->
    <%#= image_tag(@user.video_url) if @user.avatar? %>
    <video width="586" height="330" controls>
      <source src="<%= @library.library_video.panda_mp4.url %>" type="video/mp4">
    </video> 
    <div class="thumbnail_col">
      <h5>Video Thumbnail</h5>
      <%= render 'thumbnail' %>
    </div>
    <p class="load_more"><a href='javascript:void(0)'>Load more thumnails...</a></p>
</div>