<div class="col-sm-12">
  <h3 class="lib_section_title">Video Details</h3>
</div>

<div class="col-sm-6">
    <h5 class="input_label">Video File</h5>
  <%if @library.library_video.present? && @library.library_video.panda_video.present?%>
    <%if @library.library_video.panda_mp4.url.present? %>
      <video width="560" height="316" controls>
        <source src="<%= @library.library_video.panda_mp4.url %>" type="video/mp4">
      </video>
    <%else%>
      <div class="no_video">
        <span>Your video file is currently being processed.</span>
      </div>
    <%end%>
  <%end%>
</div>

<div class="col-sm-6 thumbnail_col">
  <h5 class="input_label">Video Thumbnail</h5>
  <%= render 'thumbnail', disabled: disabled %>
</div>