<div class="exer_lft_col">
  <div class="video_uplod">
   <div class="video_uplod_icon upload_video">
    <img src="/assets/upload_icon.png" width="46" height="38" alt="Upload" />
    </div>
    <div class="video_uplod_txt">
       <h2>No file choosen</h2>
          <div id="progressbar"></div>
          <p></p>
      </div>
  </div>
</div>
<%= simple_form_for(@libvideo, url: videos_path, remote: true, html: {id: 'video_upload_form'}) do |video| %>
    <div class="form-inputs" style="display:none">
      <%= video.file_field :video %>
    </div>
  <% end %>
<script>
var vall = 0, size=0, upl=0, upl1=0;
$( "#progressbar" ).progressbar({
  value: 0
});
$(".upload_video").click(function(){
  $("#library_video_video").click();
});
$('#library_video_video').on('change', function(e) {
  size = (this.files[0].size/1024/1024).toFixed(2);
  upl = size/10;
   $('.video_uplod_txt h2').text(e.target.files[0].name);
   $('.video_uplod_txt p').text(upl+' MB of '+size+' MB');
    setTimeout(bar, 300);
 });
function bar(){
  vall += 10;
  upl1 += upl;
  $( "#progressbar" ).progressbar({
      value: vall
    });
  $('.video_uplod_txt p').text(upl1+' MB of '+size+' MB');
  if(vall < 80){
    setTimeout(bar, 300);
  }
  else{
    $('.upload_video').removeClass('upload_video')
    $("#video_upload_form").submit();
  }
}
</script>
