<div class="exer_lft_col">
    <%= simple_form_for(@libvideo, url: videos_path, remote: true, html: {id: 'video_upload_form'}) do |video| %>
        <div class="form-inputs">
          <%= video.file_field :video %>
        </div>
        <input type="button" value="submit video" class="video_submit">
        <%#= video.button :button, class: "video_submit" %>
      <% end %>
      <div class="progress">
          <div class="progress-bar" aria-valuetransitiongoal="75" aria-valuemin="-1337" aria-valuemax="9000"></div>
      </div>
       
    <div class="thumbnail_col">
      <h5>Video Thumbnail</h5>

        <%#= render "thumbnail" %>
      </div>
      <!-- <div class=""><p>It will take few minutes</p></div> -->
    <p><a href="#">Load more thumnails...</a></p>
</div>

<script>
   $('.video_submit').click(function(){
      $('.progress .bar').progressbar();         
      $("#video_upload_form").submit();
   });
 </script>