<div class="col-xs-8 lib_form_lft" id="video_cont">
	<% if browser.ie? %>
		<%=render "common_templates/upload_content_for_ie", popup: ''%>
	<% else %>
		<%=render "common_templates/upload_content", popup: ''%>
	<% end %>
</div>
