<div class="create_heading">
	Create New Move 
</div>

<div class="middle_wrapper">
	<div class="rght_btns">
		<a href="#" class="cancel_btn rht_active">Cancel</a>
		<a href="#" class="cancel_btn">Cancel</a>
	</div>
	<div class="dashboard_mid">
    <%= render "form" %>              
  </div>
</div>

<div class="create_heading pad20">
	
</div>