
<div style="margin-top: 70px">
	<h1>Featured</h1>
	<div class="fetured_li">
		<ul>
			<li class="active_tab"> Programs</li>
			<li>Workouts</li>
			<li>Circuits</li>
			<li>Moves</li>
		</ul>
	</div>
<div class="jcarousel-wrapper">
	<div class="jcarousel">
        <ul>
        	<li><img src="/assets/img1.jpg" alt="Image 4"></li>
            <li><img src="/assets/img2.jpg" alt="Image 5"></li>
            <li><img src="/assets/img3.jpg" alt="Image 6"></li>
            <li><img src="/assets/img4.jpg" alt="Image 4"></li>
            <li><img src="/assets/img5.jpg" alt="Image 5"></li>
            <li><img src="/assets/img6.jpg" alt="Image 6"></li>
        </ul>
    </div>
    <a href="javascript:void(0)" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="javascript:void(0)" class="jcarousel-control-next">&rsaquo;</a>
    <p class="jcarousel-pagination"></p>
</div>
</div>
