<div class="dash_left">
	<div class="setting_col">
    	<h5>Settings</h5>
    	<ul>
        	<li>
        		<%=link_to "Edit Profile", settings_path, :class=>"active"%>
        	</li>
         <li>
         	<%=link_to "Payment & Billing", payment_billing_settings_path%>
         </li>
         <li>
         	<%=link_to "Change Password", change_password_settings_path%>
         </li>
         <li>
         	<%=link_to "MarketPlace Website", marketplace_settings_path%>
         </li>
        </ul>
    </div>
</div>

