<div class="middle_wrapper">
	<div class="dashboard_mid">
        <%=  render "setting_left_menu" %>
        <div class="setting_edit">
      		<h2>Payment & Billing</h2>
            <div class="setting_form">
            <h5>Payment Method</h5>
            	<div class="setting_form_field wdt_100">
                	<label>Credit Card Number</label>
                    <input name="" type="text" class="setting_input" value="xxxx"/>
                </div>
               <div class="col_wdt">
                    <div class="setting_form_field wdt_30">
                	   <label>Expiration</label>
                        <input name="" type="text" class="setting_input exp" value="MM"/>
                        <span class="divider"><img src="/assets/divider.jpg" width="7" height="12" alt="divider" /></span>
                        <input name="" type="text" class="setting_input exp" value="YY"/>
                    </div>
                
                    <div class="setting_form_field wdt_30 fr">
                	   <label>Security Code</label>
                       <input name="" type="text" class="setting_input" value="CVV"/>
                    </div>
                </div>
                <h5>Billing Information</h5>
               
                <div class="setting_form_field wdt_100">
                	<label>Country</label>
                    <div class="fancy_select">
                        <select name="">
            	           <option>Please Specify</option>
                        </select>
                    </div>
                </div>
                
                <div class="setting_form_field wdt_100">
                	<label>Full Name</label>
                    <input name="" type="text" class="setting_input"/>
                </div>
                
                <div class="setting_form_field wdt_100">
                	<label>Address 1</label>
                    <input name="" type="text" class="setting_input"/>
                </div>
                
                <div class="setting_form_field wdt_100">
                	<label>Address 2</label>
                    <input name="" type="text" class="setting_input"/>
                </div>
                
                <div class="setting_form_field">
                	<label>State</label>
                    <div class="fancy_select">
                        <select name="">
            	           <option>Please Specify</option>
                        </select>
                    </div>
                </div>
                
                <div class="setting_form_field ml_27">
                	<label>Zip/Postal Code</label>
                    <input name="" type="text" class="setting_input"/>
                </div>
                <div class="clear"></div>
                <div class="setting_form_field">
                	<label>Phone Number</label>
                    <input name="" type="text" class="setting_input"/>
                </div>
            </div>
            
            <div class="save_col save_col1">
	                <input name="" type="button" class="save_btn save_btn1" value="Save changes">
            </div>
        </div>
    </div>
</div>
<div class="ft_xero">
	@ 2014 Xerofit, LLC.
</div>