<li class="block-move load_lib_detail block-header <%=cls%>" id="<%=id%>" >
    <span class="move_content">
	    <b class="sort_index"></b>
	    <b class="txt"><%=text%></b>
	</span>

    <div class="remove-single-move"></div>
</li>