<li class="single_move block-move load_lib_detail zblock-header <%=cls%>" id="<%=id%>" >
    <div class="move-details">
	    <b class="sort_index"></b>
	    <b class="txt"><%=text%></b>
	</div>

    <div class="remove-single-move"></div>
</li>