<div class="head hide">Time/Duration</div>

<div class="content hide">
    <div id="break-popover" class="block-popover-wrap">
        <input type="hidden" class="minutes" name="min" value="1">
        <input type="hidden" class="seconds" name="sec" value="0">

        <div class="input-section">
            <div class="number-input-wrap">
                <input class="water_popup" name="minutes" max="10" min="1" step="1" type="number" value="1">
                <label>Minutes</label>
            </div>
        </div>

        <div class="input-section">
            <div class="number-input-wrap">
                <input class="water_popup" name="seconds" max="60" min="0" step="15" type="number" value="0">
                <label>Seconds</label>
            </div>
        </div>

        <a href="javascript:void(0)" id="block_remove_" class="remove-break-block">Delete Break</a>
    </div>
</div>