<li class="block-container break-block <%=cls%>" id="<%=id%>">

    <div class="block-header">
        <div class="move-details">
            <h3>Break</h3>
            <% if block.present? %>
                <% string = "#{block.minutes} min #{block.seconds} sec" %>
                <span class="block-options"><%= string %></span>
            <% else %>
                <span class="block-options">1 min</span>
            <% end %>
        </div>

        <span class="break-block-settings" data-toggle="popover" data-placement="left"></span>
        <%= render "workouts/builder_blocks/break_popover" %>
    </div>
    <span class="break-wings"></span>
</li>