<li class="block-container single_move load_lib_detail <%=cls%>" data-blck='individual' id="<%=id%>">
	<span class="move_content">
	    <b class="sort_index"></b>
	    <b class="txt"><%=text%></b>
	</span>

    <div class="remove-single-move"></div>
</li>