<p>Hello <%= @user.first_name%></p>

<%= @message.html_safe %>
<p>Please click here to, <%= link_to "Add new next move",  library_new_url %> or <%= link_to "create a new workout", builder_new_url %></p>
<p>Thanks!</p><br />
   Team Xerofit