.admin-sort-container {
    float: right;
    position: relative;
    @include clearfix();
    margin-bottom: 14px;

    span {
        display: block;
        float: left;
        margin-right: 14px;
        line-height: 28px;
        @include gotham500();
    }

    span.sort_span {
        width: 10px;
        line-height: 10px;
        margin: 4px 0px 0px 6px;
    }

    select {
        float: left;
        width: auto;
        height: 28px;
    }
}

.admin-table {
    font-size: 11px;
    @include gotham-narrow400();
}


.admin-mail-popup {
    display: none;
    width: 100%;
}

#admin_change_status{
    height: 30px;
    border-radius: 5px;
}

.active a{
text-decoration: none;
background-color: #eee;
}

img.loader_style{
    margin-top: 80px !important;
    margin-left: 50% !important;
    margin-bottom: 50px !important;
}

.video_load{
    display: none;
}

.usr_flter { width: 100% !important; }

.fancybox-overlay-fixed .fancybox-outer, .fancybox-overlay-fixed .fancybox-inner{
    height: 600px !important;
}

.fancybox-overlay-fixed .fancybox-skin{
    height: 600px !important;
}