@import 'helpers/variables';
@import 'helpers/mixins';
@import 'vendor/normalize';

@import "vendor/bootstrap";
@import "admin/dashboard";

.admin-sort{
	padding: 0;
	width: 25%;
	float: right;
	margin: 0px -10px 5px;
}