@import "bootstrap";
@import "bootstrap/theme";


.input-wid {
  width: 45%;
}

#progressbar .ui-widget-header{
background-color: #31C7D6 !important;
background-image: linear-gradient(to bottom, #31C7D6, #31C7D6) !important;
background-repeat: repeat-x !important;
box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset!important;
box-sizing: border-box!important;
color: #ffffff!important;
float: left!important;
font-size: 12px!important;
height: 100%!important;
text-align: center!important;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
transition: width 0.6s ease 0s;
}

.ui-progressbar{
	height: 8px !important;
	margin-top: 10px;
}

#progressbar.ui-widget-content{
	border: none !important;
}

#progressbar.ui-corner-all{
	border-radius: 1px !important;
}


