<%= render :partial => 'anon_header' %>

<section class="container">
    <div class="row">
        <section class="col-xs-12 subscription-block">
            <h2>You're In!</h2>
            <p>Your email has been confirmed and added to the early bird list for Xerofit Trainers.</p>
        </section>
    </div>
</section>