<%= render :partial => 'anon_header' %>

<section class="container">
    <div class="row">
        <section class="col-xs-12 subscription-block">
            <h2>Almost there! Just one last step</h2>
            <p>Please confirm your subscription. You should be receiving an email from us within a few minutes.</p>
        </section>
    </div>
</section>