<%= simple_form_for [:admin, @library] do |f| %>
	<div class="lib_text_field">
		<label class="lib_label">Status</label>
		<%= f.input :status, collection: Library::STATUS, include_blank: false, label: false,input_html: {class: "lib_input"}%>
	</div>
	<div class="lib_text_field">
		<label class="lib_label">Comment</label>
		<%= text_area_tag :reason, "", :size=> "44x6",class: "lib_area" %>
	</div>
	<%= f.submit %>
<% end %>