.legal-doc {
    margin: 60px 0px;

    h3 {
        text-transform: uppercase;
        margin-bottom: 24px;
    }
    article {
        padding-bottom: 12px;

        > p > span {
            margin-right: 6px;
        }
    }

    ul {
        list-style-type: none;

        li { margin-bottom: 6px; }
        li > span { text-decoration: underline; }
    }
}