<div class="modal fade" id="trainer-signup-pop" tabindex="-1" role="dialog" aria-labelledby="TrainerSignupPop" aria-hidden="true">
  <div class="modal-dialog modal-medium">
    <div class="modal-content">
      <div class="modal-header">
        <a type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <div class="modal-title" id="myModalLabel">
          <h3>Get in Early</h3>
          <p class="modal-subhead">Right now Xerofit is only available with an invitation, but you can get on the list for early access below.</p>
        </div>
      </div>
      <div class="modal-body">
        <%= render :partial => 'getresponse_form'  %>
      </div>
    </div>
  </div>
</div>