<header id="hero-img-home" class="hero-bg-flex">
  <%= render :partial => 'anon_hero_header' %>

  <section class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 hero-content-container">
        <div class="flex-wrap">
          <div class="flex">
            <hgroup class="hero-cap">
              <h1>Meet Xero.</h1>
              <h2>Your online personal trainer with all the right moves.</h2>
            </hgroup>
            <a href="#" class="btn btn-white hero-cta">Try out Xerofit</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>

<div role="main">
  <section id="features" class="section-block cta-section">
    <section class="container">
      <hgroup role="banner">
        <h2>Workouts for the Individual.</h2>
        <h3>Your goals. Your way. Your Xerofit.</h3>
      </hgroup>
      <div class="row">
        <div class="feature col-xs-12 col-sm-4">
          <div class="feature-icon">
            <div><%= image_tag('website/icons/feature_icon_graph.png', :alt => 'Progress', :height => 50 ) %></div>
          </div>
          <h4>Progress</h4>
          <p >Keep an eye on your training goals and reinforce your determination to push yourself.</p>
        </div>
        <div class="feature col-xs-12 col-sm-4">
          <div class="feature-icon">
            <div><%= image_tag('website/icons/feature_icon_clipboard.png', :alt => 'Automatic', :height => 50 ) %></div>
          </div>
          <h4>Automatic</h4>
          <p>Instant, personalized workouts to get the body you want. You hardly have to do a thing.</p>
        </div>
        <div class="feature col-xs-12 col-sm-4">
          <div class="feature-icon">
            <div><%= image_tag('website/icons/feature_icon_genius.png', :alt => 'Smart', :height => 50 ) %></div>
          </div>
          <h4>Smart</h4>
          <p>Xerofit uses an advanced algorithm to build workouts based around your personal needs.</p>
        </div>
      </div>
    </section>
  </section>

  <section class="section-block section-color">
    <section class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 match-col-height section-cap">
          <div class="flex-wrap">
            <div class="flex">
              <h3>Variety.</h3>
              <p>With everything from plyometrics and weight training to yoga and cardio -  Xero builds you a unique, personalized workout every time.</p>
            </div>
          </div>
        </div>
        <div id="jump-rope" class="col-xs-12 col-sm-6 match-col-height section-rs-img-container">
          <figure id="jump-rope-sec-img" class="section-rs-img section-rs-img-right"></figure>
        </div>
      </div>
    </section>
  </section>

  <section class="section-block">
    <section class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6 match-col-height section-cap">
          <div class="flex-wrap">
            <div class="flex">
              <h3>Learn.</h3>
              <p>Video tutorials with step-by-step directions make sure you’re using the amount of weight and are moving through your exercises correctly.</p>
            </div>
          </div>
        </div>
        <div id="dumbbell-lunge" class="col-xs-12 col-sm-6 col-sm-pull-6 match-col-height">
          <figure id="dumbbell-lunge-sec-img" class="section-rs-img section-rs-img-left match-col-height"></figure>
        </div>
      </div>
    </section>
  </section>

  <section class="section-block section-color">
    <section class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 match-col-height section-cap">
          <div class="flex-wrap">
            <div class="flex">
              <h3>Customize.</h3>
              <p>Don’t like a workout Xero gives you? Want to change all or part of it? No problem, just reshuffle and instantly get something new that’s just as good.</p>
            </div>
          </div>
        </div>
        <div id="yoga-bliss" class="col-xs-12 col-sm-6 match-col-height">
          <figure id="yoga-bliss-sec-img" class="section-rs-img section-rs-img-right match-col-height"></figure>
        </div>
      </div>
    </section>
  </section>

  <section class="section-block cta-section">
    <div class="container">
      <h3>Personalized, proven workouts engineered to get you the body you want.</h3>
      <a href="#" class="btn btn-fill cta-btn">Try out Xerofit for free</a>
    </div>
  </section>
</div>