<%= render :partial => 'anon_header' %>

<section class="container">
    <div class="row">
        <section class="col-xs-12 legal-doc">
            <h3>Terms and Conditions</h3>
            <article>
                <h4>1. Introduction</h4>

                <p><span>1.1</span> Xerofit LLC (the “Company”) offers use of www.xerofit.com (the “Website”) and the information and services related to third party personal training services made available through the Website (individually and collectively the “Services”) on your acceptance of these Terms and Conditions, our Privacy Policy, and other notices and agreements posted on this Website.</p>

                <p><span>1.2</span> Your use of Services indicates your acknowledgment and agreement with these Terms and Conditions, our Privacy Policy, and other notices and agreements posted on this Website. If you do not agree to be bound by and comply with all of the foregoing, you may not access or use the Website.</p>

                <p><span>1.3</span> The Company shall have the right, at its sole discretion, to modify, add, or remove any terms or conditions of these Terms and Conditions without notice or liability to you. Any changes to the Terms and Conditions shall be effective immediately following the posting of such changes. You agree to review the Terms and Conditions from time to time and agree that any subsequent use by you of the Website following changes to the Terms and Conditions shall constitute your acceptance of all such changes.</p>

                <p><span>1.4</span> THE WEBSITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK. THE COMPANY RESERVES THE RIGHT TO DELETE CONTENT AND TO RESTRICT OR TERMINATE YOUR ACCESS TO THE WEBSITE OR ANY FEATURE AT ANY TIME AND IN ITS SOLE DISCRETION, WITHOUT PRIOR NOTICE, WHENEVER THE COMPANY DEEMS THAT YOUR USE IS IN ANY MANNER INAPPROPRIATE OR IN VIOLATION OF APPLICABLE LAWS AND REGULATIONS OR THESE TERMS AND CONDITIONS.</p>
            </article>

            <article>
                <h4>2. Access to Services</h4>

                <p><span>2.1</span> Any users accessing and/or registering for the Services must be at least eighteen (18) years of age.</p>

                <p><span>2.2</span> The Company makes no claims that the Website may be lawfully accessed in any specific location. Access to the Website may not be legal by certain persons or in certain states or certain countries, or may require government authorization or registration. When you access the Website you are solely responsible for compliance with the laws and regulations of your jurisdiction.</p>
            </article>

            <article>
                <h4>3. Your Conduct</h4>

                <p><span>3.1</span> The Website may be used only for lawful purposes relating to personal training. The Company specifically prohibits any use of the Website, and all users agree not to use the Website, for any purposes other than designated by the Company.</p>

                <p><span>3.2</span> You are prohibited from violating or attempting to violate the security of the Website, including, without limitation, (a) accessing data not intended for such user or logging into a server or account which the user is not authorized to access, (b) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization, (c) attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus to this website, overloading, "flooding", "spamming", "mailbombing" or "crashing", (d) forging any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting or (e) scraping or harvesting data.</p>

                <p><span>3.3</span> Violations of system or network security or inappropriate conduct may result in civil or criminal liability. The Company will investigate occurrences that may involve such violations and may involve, and cooperate with law enforcement Personal entities in prosecuting users who are involved in such violations.</p>
            </article>

            <article>
                <h4>4. User Information</h4>

                <p><span>4.1</span> You are solely responsible for the information you input or upload to the Website, and warrant and represent you have the right and authorization to post all personal and professional information. The Company reserves the right in its sole discretion to decide whether the information you input or upload is appropriate and complies with the Terms and Conditions, other Company policies, and applicable laws and regulations.</p>

                <p><span>4.2</span> If you register for the Website, you will be asked to provide certain information including a valid email address. You warrant and represent that all such information is current and accurate, and will be kept up-to-date.</p>

                <p><span>4.3</span> Company reserves the right to offer Company or third party services and products to you based on the preferences that you identify in your registration and at any time thereafter.</p>

                <p><span>4.4</span> Commercial advertisements, affiliate links, and other forms of solicitation may be removed from user profiles without notice and may result in termination of user privileges.</p>
            </article>

            <article>
                <h4>5. Username and Password</h4>

                <p><span>5.1</span> You are responsible for maintaining the confidentiality of your username and password, and are responsible for all uses of your username and password, whether or not authorized by you. You agree to immediately notify the Company of any unauthorized use of your username or password.</p>
            </article>

            <article>
                <h4>6. Use of Website Services</h4>

                <p><span>6.1</span> The Website is offered only for personal trainers to provide personal training. Each user is solely responsible for deciding whether the Services offered are suitable for their own purposes, and each user is solely responsible to determine whether the offered personal training matches their needs.</p>

                <p><span>6.2</span> The Company offers no express or implied guarantees or warranties regarding the benefits or effectiveness of the Services or that any user will find the Services satisfactory, complete, of benefit, or suitable for their own circumstances.</p>

                <p><span>6.3</span> Under no circumstances is the Company providing advice or consultation with regard to personal training or personal trainers. The Company does not employ personal trainers, makes no representations about the qualifications or abilities of any personal trainers, makes no referrals, endorsements, recommendations or validations of the qualifications of any personal trainers, and makes no representations regarding the integrity, suitability or reliability of any personal trainers.</p>

                <p><span>6.4</span> Users accepting Services through the Website are solely responsible for verifying information about the personal trainers.</p>

                <p><span>6.5</span> The Website is for the use of individual users and may not be used for any commercial purposes, including but not limited to collecting user information, recruiting, soliciting or advertising.</p>
            </article>

            <article>
                <h4>7. User Generated Content</h4>

                <p><span>7.1</span> Each user acknowledges and agrees that they are solely responsible for the form, content and accuracy of any information submitted. As a user, you are responsible for your own communications, and are responsible for the consequences of all such communications.</p>

                <p><span>7.2</span> Users shall not provide any information or engage in communications that is false, defamatory, libelous, hateful, threatening, harassing, racially or ethnically offensive, pornographic, obscene, encourages anything that would be considered a criminal offense, gives rise to civil liability, violates any law or regulation, including but not limited to laws or regulations relating to intellectual property rights, or harm or threaten the safety of others.</p>

                <p><span>7.3</span> The Website acts as a passive conduit for personal trainers and those interested in personal training. The Company is under no legal obligation to, and does not, control the information provided by users. It has no obligation to screen communications or information in advance and is not responsible for screening or monitoring material posted by users. By its very nature, other people's information may be offensive, harmful or inaccurate, and in some cases will be inaccurate or untruthful. You acknowledge that any reliance on communications, information and materials posted by other users will be at your own risk, and you agree to take all necessary precautions.</p>

                <p><span>7.4</span> If notified that communications or information may not conform to the Terms and Conditions, the Website may investigate the allegation and determine and its sole discretion whether to remove or request the removal of such communications or information.</p>

                <p><span>7.5</span> The Company has no liability or responsibility to users for performance or nonperformance of services provided or activities undertaken by users, or for claims relating to any inaccurate, untimely or incomplete information provided by users.</p>

                <p><span>7.6</span> Users retain the ownership and copyright to content posted by them. By submitting content to any public or non-public area of the Website, you grant the Website the loyalty-free, perpetual, irrevocable, sublicenseable through multiple tiers, non-exclusive right (including any moral rights) and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, communicate to the public, perform and display the communications, information and materials, in whole or in part, worldwide and/or to incorporate it in other works in any form, media, or technology now known or later developed, for the full term of any rights that may exist in such communications, information and materials for as long as you are a user.</p>

                <p><span>7.7</span> You may not use, duplicate, modify, distribute, or reproduce the content posted by others in any manner without their express permission. The Company is not a party to granting such permission and is not involved in any relationship, contractual or otherwise, between users. If you believe that intellectual property rights have been infringed, you may notify the Company according to the notification procedures set forth herein.</p>

                <p><span>7.8</span> You permit any user to access, display, view, store and reproduce all user generated content submitted by you to the public areas of the Website.</p>

                <p><span>7.9</span> The Company is not involved in the actual transaction between users. As a result, the Company has no control over the quality, safety, or legality of information posted and the truth or accuracy of the listings. Note that there are risks, including but not limited to the risk of physical harm, in dealing with strangers, underage persons or people acting under false pretenses. The Company expects that you will use caution and common sense when using you assume all risks associated in dealing with other users with whom you come in contact.</p>

                <p><span>7.10</span> Because user authentication on the Internet is difficult, the Company cannot and does not confirm that each user is who they claim to be, be involved in user-to-user dealings, or control the behavior of users. In the event you have a dispute with other users, you release the Company, its subsidiaries, affiliates, officers, directors, employees, agents, representatives and partners, from claims, demands and damages (actual and consequential, direct and indirect) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes with third parties. If You are a California resident, you waive California Civil Code d1542, which says: "A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.</p>
            </article>

            <article>
                <h4>8. Personal Trainer Warranties and Representations</h4>

                <p><span>8.1</span> You warrant and represent that you are 18 years of age or older and have the appropriate experience to offer personal training services.</p>

                <p><span>8.2</span> You warrant and represent that the personal and professional information supplied by you, including but not limited to skills and experience, is accurate and up-to-date, and that you will abide by all relevant laws, rules and regulations, including, without limitation acceptable industry standards and the rules of professional responsibility.</p>

                <p><span>8.3</span> You warrant and represent that you are solely responsible for the services provided and that only you will provide such services.</p>

                <p><span>8.4</span> You warrant and represent that you will not imply or state, directly or indirectly, that you are affiliated with or endorsed by the Company.</p>

                <p><span>8.5</span> You warrant and represent that all communications between you and any other user will be through the Website, you will not make contact with other users in any manner other than through the Website, including but not limited to the scheduling of face-to-face meetings, and that all billing and payments will take place through the Website.</p>

                <p><span>8.6</span> You warrant and represent that you will be solely responsible and liable for any damages to or claim from any user to whom you provide Services. You hereby release the Company and its subsidiaries, affiliates, officers, directors, employees, agents, partners, and representatives from all actions, claims or demands and from any and all losses (direct, indirect, incidental or consequential), damages, lost profits, costs or expenses, including, without limitation, court costs and attorney's fees which you may have against the Company and its subsidiaries, affiliates, officers, directors, employees, agents, partners, and representatives.</p>

                <p><span>8.7</span> You warrant and represent that you will indemnify and hold harmless the Company and its subsidiaries, affiliates, officers, directors, employees, agents, partners, and representatives from and against any claims, damages, liabilities, costs and expenses, including reasonable attorney’s fees, arising out of your violation of these warranties and representations, or for any other violation or breach of these Terms and Conditions and/or these warranties and representations.</p>
            </article>

            <article>
                <h4>9. User Comments and Suggestions</h4>
                <p><span>9.1</span> While the Company values your feedback, please be specific in your comments regarding our services and do not submit creative ideas, inventions, or suggestions.</p>
                <p><span>9.2</span> If, despite our request, you send us creative ideas, inventions, or suggestions, all such submission shall be the property of the Company in whole or in part. The Company shall own exclusively all now known or later discovered rights to the submissions and shall be entitled to unrestricted use of the submissions for any purpose whatsoever, commercial or otherwise, without compensation to you or any other third party.</p>
                <p><span>9.3</span> No part of the submissions shall be subject to any obligation of confidence and the Company shall not be liable for any use or disclosure.</p>
            </article>

            <article>
                <h4>10. Intellectual Property</h4>

                <p><span>10.1</span> “Xerofit” and any other Company trademarks and trade names, and any variations thereof, are and shall remain the trademarks and trade names and exclusive property of the Company, and any unauthorized use of such trademarks and trade names is unlawful.</p>

                <p><span>10.2</span> The Website (including without limitation all programs, complied binaries, interface layout, interface text, documentation, resources and graphics) is the sole and exclusive property of the Company and is protected by copyright, trademark, and other laws of the United States and other countries.</p>

                <p><span>10.3</span> You may not sell or modify the Website content or reproduce, display, publicly perform, distribute, or otherwise use the Website in any way for any purpose.</p>
            </article>

            <article>
                <h4>11. Identification of Agent to Receive Notification and Elements of Notification of Claimed Copyright Infringement</h4>

                <p><span>11.1</span> If you believe that any copyrighted work is accessible on or through these Services in a way that constitutes copyright infringement, please notify the Company by providing our designated copyright agent with the following information:</p>

                <p><span>11.1.1</span> The physical or electronic signature of either the copyright owner or of a person authorized to act on the owner's behalf;</p>

                <p><span>11.1.2</span> A description of the copyrighted work you claim has been infringed, and a description of the activity that you claim to be infringing;</p>

                <p><span>11.1.3</span> Identification of the URL or other specific location on this website where the material or activity you claim to be infringing is located or is occurring; you must include enough information to allow us to locate the material or the activity;</p>

                <p><span>11.1.4</span> Your name, address, telephone number, and e-mail address;</p>

                <p><span>11.1.5</span> A statement by you that you have a good faith belief that use on the Website of the copyrighted work in the manner you are complaining of is not authorized by the copyright owner, any agent of the copyright owner, or the law; and</p>

                <p><span>11.1.6</span> A statement by you, made under penalty of perjury, that the information you have provided in your notice is accurate and that you are either the copyright owner or are authorized to act on behalf of the copyright owner.</p>

                <p><span>11.2</span> Upon receipt of notification of a Notice of copyright infringement, the Company may remove or disable access to the alleged infringing material, or terminate the alleged infringer's access to its account. The alleged infringer may provide a written Counter Notification meeting the following criteria:</p>

                <p><span>11.2.1</span> Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;</p>

                <p><span>11.2.2</span> A physical or electronic signature of either the copyright owner or of a person authorized to act on the owner's behalf;</p>

                <p><span>11.2.3</span> Your name, address, telephone number, and e-mail address;</p>

                <p><span>11.2.4</span> Consent to the jurisdiction of Federal District Court for the judicial district in which the alleged infringer's address is located, or if the alleged infringer's address is outside of the United States, for any judicial district in which the alleged infringer may be found, and that the alleged infringer will accept service of process from the person who provided notification or an agent of such person; and</p>

                <p><span>11.2.5</span> A statement, under penalty of perjury, that the alleged infringer has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled.</p>

                <p><span>11.3</span>We have designated support@xerofit.com as our agent to receive notices of claims of copyright infringement on our website. You can contact support@xerofit.com as follows:</p>

                <ul>
                    <li><span>Mail:</span> 11410 NE 124th St #402 Kirkland, WA 98034</li>
                    <li><span>Telephone:</span> 206-489-3123</li>
                    <li><span>Email:</span> support@xerofit.com</li>
                </ul>

            </article>

            <article>
                <h4>12. Links </h4>
                <p><span>12.1</span> The Website may contain links, including payment links, to other websites and/or advertisements that take a user to another website. The Company does not endorse and is not responsible for the content, Terms and Conditions, or privacy policies of any such websites.</p>
            </article>

            <article>
                <h4>13. NO WARRANTIES/DISCLAIMERS</h4>

                <p><span>13.1</span> THE COMPANY DOES NOT WARRANT THAT THE WEBSITE WILL OPERATE ERROR-FREE OR THAT THE WEBSITE IS FREE OF COMPUTER VIRUSES OR OTHER HARMFUL MECHANISMS. THE WEBSITE IS NOT RESPONSIBLE FOR THOSE COSTS ASSOCIATED WITH THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA.</p>

                <p><span>13.2</span> THE WEBSITE IS PROVIDED ON AN "AS IS" BASIS AND TO THE FULLEST EXTENT PERMITTED BY LAW, THE COMPANY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING THE WARRANTY OF MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>

                <p><span>13.3</span> THE COMPANY MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS OR TIMELINESS OF THE WEBSITE’S OFFERED SERVICES OR ANY OTHER CONTENT ACCESSED THROUGH THE WEBSITE.</p>

                <p><span>13.4</span> THE TRANSMISSION OF DATA OR INFORMATION INCLUDING COMMUNICATIONS BY E-MAIL OVER THE INTERNET OR OTHER PUBLICLY ACCESSIBLE NETWORKS IS NOT SECURE, AND IS SUBJECT TO POSSIBLE LOSS, INTERCEPTION OR ALTERATION WHILE IN TRANSIT. ACCORDINGLY, THE COMPANY DOES NOT ASSUME ANY LIABILITY FOR ANY DAMAGE YOU MAY EXPERIENCE OR COSTS YOU MAY INCUR AS A RESULT OF ANY TRANSMISSIONS OVER THE INTERNET OR OTHER PUBLICLY ACCESSIBLE NETWORKS, SUCH AS TRANSMISSIONS INVOLVING THE EXCHANGE OF E-MAIL. WHILE THE COMPANY TAKES COMMERCIALLY REASONABLE EFFORTS TO SAFEGUARD THE PRIVACY OF THE INFORMATION YOU PROVIDE AND TREAT SUCH INFORMATION IN ACCORDANCE WITH OUR PRIVACY POLICY, IN NO EVENT WILL THE INFORMATION YOU PROVIDE BE DEEMED TO BE CONFIDENTIAL, CREATE ANY FIDUCIARY OBLIGATIONS ON THE COMPANY’S PART, OR RESULT IN ANY LIABILITY TO YOU IN THE EVENT THAT SUCH INFORMATION IS INADVERTENTLY RELEASED BY US OR ACCESSED BY THIRD PARTIES WITHOUT CONSENT.</p>

                <p><span>13.5</span> THE COMPANY TAKES NO RESPONSIBILITY WHATSOEVER FOR THE INFORMATION YOU HAVE UPLOADED TO THE WEBSITE AND SHALL NOT BE RESPONSIBLE OR LIABLE FOR THE DELETION, CORRECTION, DESTRUCTION, DAMAGE, OR LOSS OF SUCH INFORMATION, OR FAILURE TO STORE ANY OF SUCH INFORMATION.  NOR IS THE COMPANY RESPONSIBLE FOR LOSS OF INFORMATION THROUGH THE ACTION OF ANY THIRD PARTY OR BECAUSE OF CIRCUMSTANCES BEYOND THE COMPANY’S CONTROL. ALL USERS ARE EXPECTED TO HAVE THEIR OWN BACKUP OF ALL OF THEIR INFORMATION.</p>
            </article>

            <article>
                <h4>14. LIMITATION OF LIABILITY</h4>
                <p><span>14.1</span> IN ADDITION TO ANY LIMITATION OF LIABILITY SET FORTH HEREIN, TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, USER UNDERSTANDS AND AGREES THAT NEITHER THE COMPANY NOR ITS SUBSIDIARIES, AFFILIATES, PARTNERS, OFFICERS, DIRECTORS, EMPLOYEES, REPRESENTATIVES OR AGENTS SHALL BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE, EXEMPLARY OR ANY OTHER DAMAGES RELATING TO OR RESULTING FROM YOUR USE OR INABILITY TO USE THE WEBSITE OR FROM ANY ACTIONS THE COMPANY TAKES OR FAILS TO TAKE. THESE INCLUDE DAMAGES FOR ERRORS, OMISSIONS, INTERRUPTIONS, DEFECTS, DELAYS, COMPUTER VIRUSES, LOSS OF PROFITS, LOSS OF DATA, UNAUTHORIZED ACCESS TO AND ALTERATION OF TRANSMISSIONS AND DATA, BODILY INJURY, EMOTIONAL DISTRESS AND OTHER TANGIBLE AND INTANGIBLE LOSSES.</p>

                <p><span>14.2</span> THIS LIMITATION APPLIES REGARDLESS OF WHETHER THE DAMAGES ARE CLAIMED UNDER THE TERMS OF A CONTRACT, AS THE RESULT OF NEGLIGENCE OR OTHERWISE, AND EVEN IF WE OR OUR REPRESENTATIVES HAVE BEEN NEGLIGENT OR HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. COMPANY'S MAXIMUM LIABILITY ARISING OUT OF OR IN CONNECTION WITH THIS WEBSITE OR YOUR USE OF THE WEBSITE, REGARDLESS OF THE CAUSE OF ACTION (WHETHER IN CONTRACT, TORT, BREACH OF WARRANTY OR OTHERWISE), WILL NOT EXCEED THE AMOUNT, IF ANY, PAID TO THE WEBSITE.</p>
            </article>

            <article>
                <h4>15. DISCLAIMER OF CONSEQUENTIAL DAMAGES</h4>
                <p><span>15.1</span> IN NO EVENT SHALL THE COMPANY, ITS SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES, AND PARTNERS BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) RESULTING FROM THE USE OR INABILITY TO USE THE WEBSITE CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
            </article>

            <article>
                <h4>16. YOUR LIABILITY</h4>
                <p><span>16.1</span> IF YOU CAUSE A TECHNICAL DISRUPTION TO THE WEBSITE OR TO OTHERS YOU AGREE TO BE RESPONSIBLE FOR ANY AND ALL LIABILITIES, COSTS AND EXPENSES (INCLUDING ATTORNEY'S FEES) ARISING FROM THAT DISRUPTION.</p>
            </article>

            <article>
                <h4>17. INDEMNITY</h4>

                <p><span>17.1</span> YOU AGREE TO DEFEND, INDEMNIFY, AND HOLD HARMLESS THE COMPANY AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES, AND PARTNERS, HARMLESS FROM AND AGAINST ANY LOSS, LIABILITY, CLAIM, ACTION, OR DEMAND, INCLUDING WITHOUT LIMITATION REASONABLE LEGAL AND ACCOUNTING FEES, ALLEGING OR RESULTING FROM (I) YOUR USE OF THE WEBSITE AND/OR SERVICES ACCESSED THROUGH THE WEBSITE; (II) ANY MATERIAL YOU PROVIDE TO THE WEBSITE, (III) OR (IV) YOUR BREACH OF THE TERMS OF THIS AGREEMENT AND/OR YOUR WARRANTIES AND REPRESENTATIONS. THE COMPANY SHALL PROVIDE NOTICE TO YOU PROMPTLY OF ANY SUCH CLAIM, SUIT, OR PROCEEDING AND SHALL ASSIST YOU, AT YOUR EXPENSE, IN DEFENDING ANY SUCH CLAIM, SUIT OR PROCEEDING. THE COMPANY RESERVES THE RIGHT TO ASSUME THE EXCLUSIVE DEFENSE AND CONTROL OF ANY MATTER SUBJECT TO IMMEDIATE INDEMNIFICATION BY YOU.</p>
            </article>

            <article>
                <h4>18. Additional Terms and Conditions</h4>

                <p><span>18.1</span> Nothing in this Agreement is intended to create or will be construed as creating a joint ventures, partnership, employer/employee or principal and agent relationship between users and the Company.</p>

                <p><span>18.2</span> These Terms and Conditions shall be governed by and construed in accordance with the laws of the State of Washington applicable therein, without regard to conflict of laws and excluding the United Nations Convention on Contracts for the International Sale of Goods (CISG). You irrevocably consent to the exclusive jurisdiction of the courts located in the in the State of Washington in connection with any action arising out of or related to these Term  and Conditions and waive any objection based on lack of personal jurisdiction, place of residence, improper User or learning content non-convenience in any such action.</p>

                <p><span>18.3</span> If any court having competent jurisdiction holds any provision of this Terms and Conditions invalid or unenforceable in any respect, such provision shall be enforced to the maximum extent permitted by law, and the remaining provisions of this Terms and Conditions shall continue in full force and effect.</p>

                <p><span>18.4</span> The failure or delay of either party to exercise or enforce any right or claim does not constitute a waiver of such right or claim and shall in no way affect that party’s right to later enforce or exercise it, unless such party issues an express written waiver, signed by a duly authorized representative.</p>

                <p><span>18.5</span> You consent to the use of electronic means to deliver any notices pursuant to these Terms and Conditions.</p>

                <p><span>18.6</span> You may not assign these Terms and Conditions or any of its rights or obligations hereunder.</p>

                <p><span>18.7</span> Except as expressly specified herein, this Agreement shall create rights and obligations only between the Company and each individual user that accepts this Agreement and it does not create any rights for any other parties.</p>
            </article>
            <p>Any questions about these Terms and Conditions may be directed to support@xerofit.com.</p>
        </section>
    </div>
</section>
