<%= render "common_templates/admin/sort_select"%>
<div class="col-md-9 search_user">
    <%= render "admin/users/filter_index"%>
</div>
<div class="col-md-3">
  <%=  render "admin/users/admin_user_filter"%>
</div>