<div class="edit_password">
  <h2>Change your password</h2>
  <div class="setting_form ">
    <%= simple_form_for(@user, url: update_password_admin_user_path(@user) , html: { method: :put }) do |f| %>
      <div class="setting_form_field wdt_100">
        
        <label>New password</label>
        <%= f.input :password, label: false, required: true, autofocus: true, input_html:{value: '', class: "form-control input-wid admin_chg_pwd"} %>
        
        <label>Confirm password</label>
        <%= f.input :password_confirmation, label: false, required: true, input_html:{:value=> '',class: "form-control input-wid admin_chg_pwd"} %>
      </div>
      <div class="save_col save_col1">
        <%= f.button :submit, "Change my password", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>