<% if @move.present? %>
  <div class="control_bar">
    <%=render "move_details_head_container"%>
  </div>

  <header id="discover-video-header">
    <span class="show-on-scroll"></span>
  </header>

  <section class="video-player">
    <%=render "move_details_video_container"%>
  </section>
  <div class="video_info_id">
  </div>

  <section class="video-details">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <%=render "move_details_left_container"%>
        </div>
        <div class="col-sm-4">
          <%=render "move_details_right_container"%>
        </div>
      </div>
    </div>
  </section>
<% end %>


<script type="text/javascript">
  initialize_video_events();
</script>
