<div class="control_bar">
  <div class="container-fluid">
    <div class="control_bar_wrap">
      <%= render "search_for_discover_home" %>
    </div>
  </div>
</div>


<div class="middle_wrapper">
    <div class="page_content">
        <div class="container">
            <div class="row discover_home">
              <%= render "discover_list_sliders" %>
            </div>
        </div>
    </div>
</div>

