<div class="control_bar">
  <div class="container-fluid">
    <div class="control_bar_wrap">
      <%= render "search_in_discover_data"%>
    </div>
  </div>
</div>

<div class="middle_wrapper">
  <div class="page_content">
    <div class="container">
      <div class="row">
        <div class="library_col search_discover_data">
          <%= render "discovered_data" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= paginate @discovered_moves, remote: true %>