// Archive CSS ===================================================================================== /

.dash_left{
    width:19.6%;
    float:left;
}
.dorian_col{
    width:100%;
    float:left;
    margin-bottom:50px;
}
.dorian_col img{
    width:100%;
    float:left;
    height:auto;
    margin-bottom:20px;
}
.dorian_col h5{
    font-size:16px;
    color:#55483d;
    font-weight:bold;
    margin-bottom:5px;
}
.dorian_col h6{
    font-size:14px;
    color:#585057;
}
.profile_col{
    width:100%;
    float:left;
    margin-bottom:50px;
}
.profile_col ul{
    margin:0px;
    padding:0px;
}
.profile_col ul li{
    list-style:none;
    float:left;
    color:#454242;
    font-size:12px;
    font-family: 'gotham_extralightregular';
    width:100%;
    margin-bottom:10px;
}
.profile_col ul li a{
    color:#454242;
    text-decoration:none;
    display:block;
    line-height:21px;
}
.profile_col ul li a:hover{
    color:#000;
}
.profile_col ul li span{
    width:21px;
    height:21px;
    float:left;
    margin-right:5px;
}

.no_tick{
    background:url(/assets/tick_img.png) no-repeat 0px 0px;
}
.no_2{
    background:url(/assets/2_no.png) no-repeat 0px 0px;
}
.no_3{
    background:url(/assets/3_no.png) no-repeat 0px 0px;
}
.no_4{
    background:url(/assets/4_no.png) no-repeat 0px 0px;
}

.dash_rght{
    width:77%;
    float:right;
}
.listno_1{
    background:url(/assets/list_1.png) no-repeat 0px 20px;
}
.listno_2{
    background:url(/assets/list_2.png) no-repeat 0px 20px;
}
.listno_3{
    background:url(/assets/list_3.png) no-repeat 0px 20px;
}
.listno_4{
    background:url(/assets/list_4.png) no-repeat 0px 20px;
}
.listno_5{
    background:url(/assets/list_5.png) no-repeat 0px 20px;
}
.listno_6{
    background:url(/assets/list_6.png) no-repeat 0px 20px;
}
.listno_7{
    background:url(/assets/list_7.png) no-repeat 0px 20px;
}
.listno_8{
    background:url(/assets/list_8.png) no-repeat 0px 20px;
}
.listno_9{
    background:url(/assets/list_9.png) no-repeat 0px 20px;
}


.zlibrary_col ul {


    li {
        float: left;
        text-align: left;
        width: 21.6%;
        margin-bottom: 12px;
        margin-right: 34px;
        min-height: 192px;

        img {
            width: 231px !important;
            height: 130px !important;
            float: left;
            //margin-bottom: 5px;
            height: auto;
        }
    }

    // Workout Images
    li.wrk {
        //list-style: none;
        //float: left;
        //text-align: left;
        //width: 17.6%;
        //margin-bottom: 12px;
        //margin-right: 0px;
        //min-height: 192px;

        img {
            //width: 150px !important;
            //height: 150px !important;
            //float: left;
            //margin-bottom: 5px;
            //height: auto;
        }
    }


}
