@charset "utf-8";

html,
body {margin: 0px; padding: 0px; height:100%;   @include gotham400();}
body{margin:0px; padding:0px;background:#f7f7f7;}
@font-face {
    font-family: 'gotham_extralightregular';
    src: url('/assets/ufonts.com_gotham_extralight-webfont.eot');
    src: url('/assets/ufonts.com_gotham_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/ufonts.com_gotham_extralight-webfont.woff') format('woff'),
         url('/assets/ufonts.com_gotham_extralight-webfont.ttf') format('truetype'),
         url('/assets/ufonts.com_gotham_extralight-webfont.svg#gotham_extralightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham-bookgotham-book';
    src: url('/assets/gothmbok-webfont.eot');
    src: url('/assets/gothmbok-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/gothmbok-webfont.woff') format('woff'),
         url('/assets/gothmbok-webfont.ttf') format('truetype'),
         url('/assets/gothmbok-webfont.svg#gotham-bookgotham-book') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{margin: 0px; font-weight:normal; padding: 0px;}

.lib_error {
    margin: 0;
    color: red;
    font-size: 10px;
}

#dragandrophandler h2 {
    font-size: 19px;
    margin-bottom: 16px;
}

// Helper Classes
.toggle_rel{position: relative; float: left; width: 100%;}
.clear {clear: both;}
.fl {float: left}
.fr {float:right;}
.fnone {float: none}
.replace_video{ display: none; }
.dis_non{ display: none; }
.dis_blk{ display: block;}
.usr_flter { width: 100% !important; }
.error_color{ color: red; }
.gray_bg { background: gainsboro; }
.li_class { cursor: pointer; }
.image_hide { display:none !important;}
.ml { margin-left: 50%; }
.green_txt{ color: green; }
.red_txt { color: red; }
.m50 { margin: 50% 40% 100% 47%; }
.modal_load { margin: 14% 0 13% 44%; }
.cent{ text-align: center; }



// Disabled Input Styles
button[disabled], html input[disabled] {
    cursor: default;
    background: #ccc;
}

input[type="text"]:disabled{background: $disabled-color; cursor: default !important;} 
textarea:disabled{background: $disabled-color; cursor: default !important;}
input:focus::-webkit-input-placeholder { opacity: 0; }
input:focus:-moz-placeholder { opacity:0; } /* FF 4-18 */
input:focus::-moz-placeholder { opacity:0; }

.disable_cls{
    background: $disabled-color !important;
    cursor: default !important;
}
ul.disable_cls{overflow-y: hidden !important; }
ul.disable_cls li:hover{ background-color:#cccccc !important; cursor: default !important;}
