@charset "utf-8";

.lib_error {
    margin: 0;
    color: red;
    font-size: 10px;
}




// Helper Classes
.toggle_rel{position: relative; float: left; width: 100%;}
.clear {clear: both;}
.fl {float: left}
.fr {float:right;}
.fnone {float: none}
.replace_video{ display: none; }
.dis_non{ display: none; }
.dis_blk{ display: block;}
.usr_flter { width: 100% !important; }
.error_color{ color: red; }
.gray_bg { background: gainsboro; }
.li_class { cursor: pointer; }
.image_hide { display:none !important;}
.ml { margin-left: 50%; }
.green_txt{ color: green; }
.red_txt { color: red; }
.m50 { margin: 50% 40% 100% 47%; }
.modal_load { margin: 14% 0 13% 44%; }
.cent{ text-align: center; }
