@charset "utf-8";
/* CSS Document */

html,
body {margin: 0px; padding: 0px; height:100%;   font-family: 'gotham-bookgotham-book';}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body{margin:0px; padding:0px;background:#f7f7f7;}
@font-face {
    font-family: 'gotham_extralightregular';
    src: url('/assets/ufonts.com_gotham_extralight-webfont.eot');
    src: url('/assets/ufonts.com_gotham_extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/ufonts.com_gotham_extralight-webfont.woff') format('woff'),
         url('/assets/ufonts.com_gotham_extralight-webfont.ttf') format('truetype'),
         url('/assets/ufonts.com_gotham_extralight-webfont.svg#gotham_extralightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham-bookgotham-book';
    src: url('/assets/gothmbok-webfont.eot');
    src: url('/assets/gothmbok-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/gothmbok-webfont.woff') format('woff'),
         url('/assets/gothmbok-webfont.ttf') format('truetype'),
         url('/assets/gothmbok-webfont.svg#gotham-bookgotham-book') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1,h2,h3,h4,h5,h6{margin: 0px; font-weight:normal; padding: 0px;}
p{}

body.home_bg{background:url(/assets/home_bg_img.jpg) no-repeat; background-size: cover;}
body.home_bg.size{background:url(/assets/home_bg_img.jpg) no-repeat; background-size: cover;}
body.signup_bg{ background:url(/assets/signup_bg.jpg) no-repeat center center; background-size: cover;}
body.signup_bg.sing_size{ background:url(/assets/signup_bg.jpg) no-repeat ; background-size: cover;}
body.gry_bg{background:#f4f4f5}
body.dashboard{background:#f2f2f2;}
body.pop{background:#d9d9d9;}
.dashboard{background:#f2f2f2;}
#page_wrapper{width: 100%; float: left; min-height:100%;
	position:relative;}
/*.header_wrapper{width: 100%; padding:12px 29px; float: left; height: 60px; box-shadow: 0 0 10px #bbbbbb; background: #fff; border-bottom: 1px solid #e6e6e6}*/
.header_wrapper.dashboard_header{
	background:#4c4d4e;
}
.wrapper{min-height: 100%; float:left;}
.header_wrapper{width:100%; padding: 13px 10px; float:left;  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; background:#fff; border-bottom:1px solid #e3e3e3;}
.header_wrapper .home_nav{width:auto; float:left;}
.home_nav_toggle{z-index: 9; display:none; margin-top: 24px; position:absolute; background:#fff; float:left; box-shadow:0 0 6px #ccc; }
.home_nav_toggle ul{margin:0px; padding:0px;}
.home_nav_toggle:after{content: '';
background: url(/assets/select_arrow_1.png) no-repeat left 0px;
width: 38px;
height: 18px;
position: absolute;
top: -18px;
left: 6px;}
.home_nav_toggle ul li{width: 104px;
text-align: center;
margin: 16px 16px 0px 16px;
height: auto;
float: left;
display: inline;
list-style: none;
font-size: 17px;
color: #323435;}
.home_nav_toggle ul li img{width: 91%;
height: auto;
margin-bottom: 8px;}
.home_nav_toggle ul li a{ color: #323435;
text-decoration: none;
font-size: 13px;}
.xerofit_logo{width: auto;
float: left;
position: relative;
left: 50%;
margin-left: -189px;}
.user_detail{width: auto;
float: right;
position: relative; }
.signout_col{
display:none; margin-top: 44px;
position: absolute;
background: #fff;
float: left;
box-shadow: 0 0 6px #ccc;
left: 50px;
width: 65%;
padding: 6px 0px;
z-index: 9999;
}
.signout_col ul{margin:0px; padding:0px;}
.signout_col:after{content: '';
background: url(/assets/select_arrow_1.png) no-repeat left 0px;
width: 38px;
height: 18px;
position: absolute;
top: -18px;
left: 6px;}
.signout_col ul li{width: 100%;
text-align: left;
height: auto;
float: left;
display: block;
list-style: none;
font-size: 12px;
color: #323435;
padding: 3px 11px;}

.cent{
	text-align: center;
}

.signout_col ul li a{ color: #323435;
text-decoration: none;
font-size: 13px;}
.notification_img{ width:20px; float:left; height:20px;}
.notification_img img{position: relative;
top: 5px;}
.user_detail .user_img{width:28px; margin-left:20px; height:28px; float:left}
.user_detail .user_img img{width: 28px;
height: 28px;
border-radius: 100%;}
.user_detail .user_name{line-height: 28px;
float: left;
margin-left: 4px;
width:auto;
background: url(/assets/arrow_icon.png) no-repeat right 11px;
padding-right: 22px;}

.back_arrow{
	background:url(/assets/prev_arrow.jpg) no-repeat left 0px;
	font-size:14px;
	color:#fff;
	font-family: 'gotham_extralightregular';
	padding-left:25px;
	line-height:25px;
	width:14.3%;
	float:left;
}
.back_arrow a, .next_arrow a{color:#fff; text-decoration:none}
.back_arrow a:hover, .next_arrow a:hover{color:#fff; text-decoration:underline}
.next_arrow{
	background:url(/assets/next_arrow.jpg) no-repeat right 0px;
	font-size:14px;
	color:#fff;
	font-family: 'gotham_extralightregular';
	padding-right:25px;
	line-height:25px;
	width:16.3%;
	float:right;
	margin-top:4px;
}
.m_32{
	margin:0px 32px;
}
.header_wrapper .head_lft{ width:32%; margin-top: 8px; float:left;}
.header_wrapper .head_lft ul{margin:0px; padding:0px}
.header_wrapper .head_lft ul li{width:auto; float:left; margin-right:30px; display:inline-block; list-style:none;}
.header_wrapper .head_lft ul li a{font-size:14px; font-weight:normal; color:#4a4a4a; text-decoration:none;   font-family: 'gotham_extralightregular';}
.header_wrapper .head_lft ul li a.dashboard_lft{
	color:#fff;
}
.header_wrapper .head_lft ul li a:hover{
	color:#72c9b8;
}
.header_wrapper .head_cent{ width:32%; text-align:center; float:left;}
.header_wrapper .head_cent img:hover{opacity:.7}
.center_btn{
}
.header_wrapper .head_rht{ width:32%; margin-top: 4px; float:right;}
.header_wrapper .head_rht ul{margin:0px; padding:0px; float: right;}
.header_wrapper .head_rht ul li{width:auto; float:left; display:inline-block; list-style:none;}
.header_wrapper .head_rht ul li a{font-size:12px; float:left; font-weight:normal; color:#4c4d4e; padding: 7px 12px; text-decoration:none;   font-family: 'gotham_extralightregular';}
.header_wrapper .head_rht ul li a.logn_link{text-decoration:underline}
.header_wrapper .head_rht ul li a.logn_link:hover{
	color:#72c9b8;
}
.header_wrapper .head_rht ul li.or{font-size:10px; line-height: 16px; padding: 7px 10px 7px 0px; }
.header_wrapper .head_rht ul li a.join{border:1px solid #4c4d4e; border-radius:5px;}
.header_wrapper .head_rht ul li a.join:hover{
	background:#72c9b8;
	color:#fff;
	border:1px solid #4c9d8d;
}
.home_toggle{background: url(/assets/arrow_icon.png) no-repeat right 6px;
padding-right: 20px;
color: #323435;}
.middle_wrapper{width: 100%;
float: left;
padding-bottom: 70px;}
.middle_wrapper.pb20{padding-bottom:70px}
.home_mid{max-width:740px; padding-top: 100px; margin:0px auto; text-align:center}
.home_mid h2{ color:#fff; font-size:72px} 
.home_mid p{color:#fff; font-size:48px; margin-top: 25px;
margin-bottom: 100px; font-family: 'gotham_extralightregular';} 
.home_mid a.user_btn{border: 1px solid #fff;
border-radius: 5px;
font-family: 'gotham_extralightregular';
padding: 12px 65px;
font-size: 24px;
color: #fff;
text-decoration: none;
margin-right: 20px;}

.home_mid a.user_btn:hover{
	background:#72c9b8;
	border:1px solid #4ea695;
}



.popup_wrapper{max-width:470px; overflow:hidden; position:relative; background:#fff; margin:3% auto 0; border-radius:6px;}
.popup_wrapper.wdt380{width:380px;}
.popup_wrapper.wdt901{max-width:901px;}
.left_pop{
	width:450px;
	float:left;
	background:url(/assets/left_bg.png) no-repeat right 60%;
	padding:2px 35px 20px 20px;
}
.left_pop.rght_pop{
	background:none;
}
.close_icon{ width:20px; height:20px; position:absolute; right: 12px;
top: 13px;}
.close_icon img:hover{opacity:.6}
.popup_wrapper .popup_header{width:100%; float:left; border-bottom:1px solid #f4f4f5;  padding:32px 50px 16px;}
.popup_wrapper .popup_header h2{ color:#4a4a4a; font-size:24px;}
.popup_wrapper .popup_header p{color: #999999;
font-size: 12px;
line-height: 19px;
margin-top: 8px;}
.popup_wrapper .popup_header p.left_p{
	margin-top:34px;
}
.popup_wrapper .popup_header.border_none{border-bottom: 0; padding-top: 65px;
padding-bottom: 0;}
.popup_wrapper .popup_header.pb43 {

padding-top: 43px;
}
.popup_wrapper .popup_header.border_none.txt_cent{text-align: center;
padding-top: 56px;
padding-bottom: 21px;
}
.popup_wrapper .popup_header.border_none.txt_cent img{margin-bottom:30px;}
.popup_wrapper .popup_header p a {color:#00a1ff; text-decoration:underline;}
.popup_wrapper .popup_header p a:hover{color:#000;}
.popup_wrapper .popp_middle{width:100%; float:left; padding:32px 50px;}
.login_field{width:100%; float:left; margin-bottom:12px;}
.login_field label{color:#4a4a4a; font-size:16px; margin-bottom:15px; float:left; width:100%;}
.login_field input{ border-radius:5px; outline: none; padding:6px; border:1px solid #d9d9d9; width:100%; float:left; color:#999999; font-family: 'gotham_extralightregular'; font-style:italic; font-size:14px;}
.signin_btn{ 
	background: #00a1ff;
	font-size: 16px;
	width: 100%;
	padding: 14px 10px;
	border-radius: 5px;
	border: 0;
	text-align: center;
	color:#fff;
	margin-bottom:15px;
	cursor:pointer; 
}
/*.signin_btn:hover{
	background:#666;
	background: #00a1ff;
}*/

.signin_dis{
	opacity: .4;
	pointer-events: none;
   	cursor: default;
}
.signin_btn.request_btn{
	background:#fff;
	border:1px solid #666;
	color:#666;
}
.signin_btn.request_btn:hover{
	background:#666;
	color:#fff;
}
.signin_btn.mar_bot_zero{margin-bottom: 00;
margin-top: 17px;}
span.lost_pass_txt{font-size: 12px;
color: #b2b2b2;

width: 100%;
text-align: center;
float: left;}
span.lost_pass_txt a{color:#b2b2b2;}
span.lost_pass_txt a:hover{
	color:#00a1ff;
}

/*=======DASHBOARD-PAGES==========*/

.mid_container{max-width:1026px; margin:0px auto;}
.mid_container h2{width:100%; float:left; border-bottom:1px solid #e2e5e6; padding-bottom:15px; margin-bottom:35px;}
.exer_lft_col.lib_form_lft{width:56%;}
.exer_rht_col.lib_form_rgt{width:38%;}
.exer_lft_col{width:100%; float:left;}
.big_video_col{width: 48%;
float: left;
margin-top: 20px;}
.exer_lft_col h4{color: #000;
font-size: 16px;
margin-bottom: 10px;}
.exer_lft_col .thumbnail_col{width:51%; float:right; margin-top:20px;}
.exer_lft_col .thumbnail_col h5{ color:#2f302d; font-size: 13px; margin-bottom:10px;}
.exer_lft_col .thumbnail_col p a{ color:#999b99; font-size:13px; font-style:normal;}
.exer_lft_col .thumbnail_col p a:hover{color:#000}
.exer_lft_col .thumbnail_col ul{margin:0 0 2px; float: left; width:100%; padding:0px;}
.exer_lft_col .thumbnail_col ul li{width: 176px;
float: left;
list-style: none;
position: relative;
display: inline;
margin-bottom: 17px;}
.select_thumb{display: block !important;}
.thumbnail_col ul li .video_title{display: none;
position: absolute;
top: 0;
background: rgba(66,139,202,0.7);
width: 100%;
padding: 5px 2px;
text-align: center;
color: #fff;}
.thumbnail_col ul li .video_title.div_blck{display: block;}
.thumbnail_col ul li:hover > .video_title{display: block;}

P.load_more{float: left;
width: 100%; text-align: right;}
.big_video_col h5 {
color: #000;
font-size: 13px;
margin-bottom: 10px;
}

P.load_less{float: left;
width: 100%; text-align: right; display: none;}

.exer_lft_col .thumbnail_col ul li.margn45{margin:0px 16px;}
.exer_lft_col .thumbnail_col ul li img{width:100%; height:auto;}
.exer_rht_col{width:100%; float:right;}
.exr_field_col{width:100%; float:left; margin-bottom:20px;}
.targets_sel .exr_field_col{width:40%; margin-right:35px;}

/*.workout_category{border-radius: 5px;
padding: 5px;
border: 1px solid #e1e0dd;}*/
.exr_field_col label{color:#2a2c28; font-size: 14px;
margin-bottom: 6px; float:left; width:100%;}
.exr_field_col h4{color: #a5afbb; padding-bottom: 5px;}
.exr_field_col input, .exr_field_col textarea{width:100%; outline:none; resize:none; padding:8px 6px; float:left; border-radius:5px; border:1px solid #e1e0dd; font-size:12px;
color:#777778;}
.libray_detail{float: left;
width: 100%;
padding: 10px 30px;}
.libray_detail.wht_bg{background: #fff}
.lib_edit_botom{width: 	100%; float: left; margin-bottom: 36px;}
.lib_edit_botom h5{font-weight: bold; font-size: 13px; color: #2f302d}
.lib_edit_botom p{font-size: 13px;
color: darkgrey;
font-style: normal;
margin: 12px 0px 19px;}
a.replace_video_btn{ border: 1px solid #2a6496;
color: #2a6496;
border-radius: 5px;
padding: 8px 8px;
font-size: 12px;}
a.replace_video_btn:hover, a.remove_video_btn:hover{text-decoration: none;}
a.remove_video_btn{border: 1px solid red;
color:red;
border-radius: 5px;
padding: 8px 8px;
font-size: 12px;}
.lib_des_lft{float: left;
width: 48%;}
.lib_des_rht{float: right;
width: 48%;}
.exr_field_col.cate_wd48{width: 48%;}
.exr_field_col.level_wd48{width: 48%;
float: right;}
.exr_field_col.number_mus{width: 90%;}
.exr_field_col textarea{height:121px}
.fancy_select{overflow:hidden;width:100%; float:left; border-radius:5px; padding:5px 0 5px 5px; border:1px solid #e1e0dd; 
background:url(/assets/select_arrow.png) no-repeat right #fdfcfb;  font-size: 12px; }
.fancy_select.dob_select{width:31%;}
.fancy_select.dob_select select{width:120%}
.fancy_select.dob_select.m27{ margin:0px 17px;}
.fancy_select select {
background: transparent;
width: 108%;
outline: none;
font-size: 16px;

border: 0;
color: #444;
cursor: pointer;
font-size: 12px;
text-indent: 4px;
border-radius: 0;
height: 21px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.fancy_select ul{ margin: 0px; padding: 0px;}
.fancy_select ul li{width: 100%;
float: left;
list-style: none;
padding:5px 1px 5px 11px;
color: #111;
display: block;
position: relative;}
.fancy_select ul li:hover{background-color: #ccc}
.fancy_select ul li ul{display: none}
.fancy_select ul li:hover{background: #ccc;}
.fancy_select ul li:hover > ul {
display: block;
position: absolute;
right: -210px;
z-index: 9;
background: #fff;
border-radius: 5px;
padding: 4px;
top: 0;
box-shadow: 0 0px 5px #ccc;
border: 1px solid #ccc;
width: 210px;
}
.drop_toggle{width: 100%;
float: left;
border-radius: 5px;
color: #111;
padding: 5px 0 5px 5px;
border: 1px solid #e1e0dd;
background: url(/assets/select_arrow.png) no-repeat right #fff;
box-shadow: 0 0 5px #ccc;
font-size: 12px;}
.fancy_select ul li.sub_arw{background: url(/assets/arrow.png) no-repeat top right;}
.fancy_select ul li.sub_arw:hover{background: url(/assets/arrow.png) no-repeat top right #b8e1e6;}


.sel_wid{width: 90%}
.sel_wid select{width: 100%; height: 85px}
.exr_field_col input.fancy_input{
	background:#fdfcfb;
	width:18.6%;
	border:1px solid #ccc;
	padding:7px;
	font-size:12px;
	color:#666;
	cursor:pointer;
	font-family: 'gotham_extralightregular';
	float:left;
	border-radius:0px;
	text-align:center;
	margin-right:5px;
}
.exr_field_col input.fancy_input.active, .exr_field_col input.fancy_input:hover{background:#b8e1e6; border:1px solid #93b4b8}
.exr_field_col input.fancy_input:last-child{
	margin-right:0px;
}
.exr_field_col input.fancy_input.wd16{
	width: 16.6%;
}
/*=======DASHBOARD-PAGES END==========*/



/*.footer_wrapper {
width: 100%;
height: auto;
padding: 12px 29px;
line-height: 20px;
bottom: 0;
font-size: 10px;
color: #fff;
left: 0;
float: left;
float: l;
}
.footer_wrapper .fot_lft{width:32%; float:left; }
.footer_wrapper .fot_cent{width:32%; float:left; text-align:center;}
.footer_wrapper .fot_cent img:hover{opacity:.7}
.footer_wrapper .fot_rht{width:32%; float:right;}
.footer_wrapper .fot_rht ul{margin:0px; padding:0px; float:right;}
.footer_wrapper .fot_rht ul li{width:auto; float:left; padding:0px 8px; display:inline-block; list-style:none;}
.footer_wrapper .fot_rht ul li a{font-size:10px;   font-weight:normal; color:#fff; text-decoration:underline; }
.footer_wrapper .fot_rht ul li a:hover{
	color:#000;
}*/
.bottom_box{position:absolute; bottom:0px; width: 100%; float: left;}
.fotter_wrapper{width:100%; background:#fff; border-top:1px solid #e3e3e3; padding:10px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; float:left; min-height:30px;}
.footer_lft_col{ width:auto; float:left;}
.footer_lft_col ul{margin:0px; padding:0px;}
.footer_lft_col ul li{ width:auto; float:left; color:#919294; font-size:10px;}
.footer_lft_col ul li a{ color:#919294; font-size:10px; padding:0px 5px; text-decoration:none;}
.footer_lft_col ul li a:hover{ color:#000}
.footer_rht_col{ width:auto; float:right;}

.dash_hdr_rght{
	width:10%;
	float:right;
font-size: 14px;
font-weight: normal;
color: #fff;
text-decoration: none;
font-family: 'gotham_extralightregular';
background:url(/assets/chase_img.png) no-repeat right;
padding-right:30px;
line-height:28px;
}
.dash_hdr_rght a{
	color: #fff;
	text-decoration:none;
}

.dashboard_mid{
	max-width:1026px;
	margin:0px auto;
	/*overflow:auto;*/
	padding:40px 0px;
}
.dashboard_mid h3{
	font-size:24px;
	color:#a5afbb;
	border-bottom:1px solid #e4e6e8;
	padding-bottom:10px;
	margin-bottom:20px;
	font-family: 'gotham_extralightregular';
}
.dashboard_mid h4{
	font-size:20px;
	color:#a5afbb;
	border-bottom:1px solid #e4e6e8;
	padding-bottom:10px;
	margin-bottom:20px;
	font-family: 'gotham_extralightregular';
}
.dash_left{
	width:19.6%;
	float:left;
}
.dorian_col{
	width:100%;
	float:left;
	margin-bottom:50px;
}
.dorian_col img{
	width:100%;
	float:left;
	height:auto;
	margin-bottom:20px;
}
.dorian_col h5{
	font-size:16px;
	color:#55483d;
	font-weight:bold;
	margin-bottom:5px;
}
.dorian_col h6{
	font-size:14px;
	color:#585057;
}
.profile_col{
	width:100%;
	float:left;
	margin-bottom:50px;
}
.profile_col ul{
	margin:0px;
	padding:0px;
}
.profile_col ul li{
	list-style:none;
	float:left;
	color:#454242;
	font-size:12px;
	font-family: 'gotham_extralightregular';
	width:100%;
	margin-bottom:10px;
}
.profile_col ul li a{
	color:#454242;
	text-decoration:none;
	display:block;
	line-height:21px;
}
.profile_col ul li a:hover{
	color:#000;
}
.profile_col ul li span{
	width:21px;
	height:21px;
	float:left;
	margin-right:5px;
}

.no_tick{
	background:url(/assets/tick_img.png) no-repeat 0px 0px;
}
.no_2{
	background:url(/assets/2_no.png) no-repeat 0px 0px;
}
.no_3{
	background:url(/assets/3_no.png) no-repeat 0px 0px;
}
.no_4{
	background:url(/assets/4_no.png) no-repeat 0px 0px;
}

.dash_rght{
	width:77%;
	float:right;
}
.gray_bg{
	width:100%;
	float:left;
	background:#f9f9f9;
	padding:45px 50px;
	margin-bottom:70px;
}
.gray_bg ul{
	margin:0px;
	padding:0px;
}
.gray_bg ul li{
	list-style:none;
	float:left;
	width:30%;
	text-align:center;
}
.gray_bg ul li img{
	margin-bottom:10px;
}
.gray_bg ul li h5{
	color:#201c17;
	font-size:14px;
	font-family: 'gotham_extralightregular';
	margin-bottom:10px;
	text-transform: uppercase;
	font-weight:bold;
}
.gray_bg ul li p{
	color:#a8afb9;
	font-size:12px;
	font-family: 'gotham_extralightregular';
	margin-bottom:10px;
	font-style: normal;
}
.gray_mlr{
	margin:0px 34px;
}

.alerts_col{
	width:100%;
	float:left;
}
.ques{
	width:19px;
	height:19px;
	float:right;
	background:url(/assets/question_mark.png) no-repeat 0px 0px;
}
.alerts_col_desc{
	width:100%;
	float:left;
	min-height:153px;
	text-align:center;
	padding:20px;
}
.alerts_col_desc h5{
	font-size:18px;
	color:#dcdad6;
	font-family: 'gotham_extralightregular';
	font-style:italic;
	margin-bottom:10px;
}
p{
	font-size:12px;
	color:#e4e3df;
	font-style:italic;
	font-family: 'gotham_extralightregular';
}

.market_list{
	width:100%;
	float:left;
	padding: 6px 7px;
	background:#f9f9f9;
}
.market_list ul{
	margin:0px;
	padding:0px;
}
.market_list ul li{
	list-style:none;
	float:left;
	font-family: 'gotham_extralightregular';
	color:#666;
	font-weight:bold;
	padding:5px;
	font-size:13px;
}
.list_1{
	width:25%;
}
.list_2{
	width:22%;
}
.list_3{
	width:5%;
}

.workout_col{
	width:100%;
	float:left;
}
.workout_col_left{
	width:25%;
	float:left;

	overflow-y: scroll;
	background: #f2f2f2;
}
.search_col{
	background:#f9f9f9;
	width:100%;
	float:left;
	padding:5px 20px;
	border-bottom:1px solid #e1e3e5;
	
}
.search_btn{ float:left; border:0; cursor:pointer; background:url(/assets/search_icon.jpg) no-repeat left 0px; width:22px; height:22px;}
.search_btn:hover{opacity:.7}
.search_icon{
	background:none;
	outline:none;
	font-size:14px;
	color:#c2c7ce;
	float:left;
	border:0px;
	font-family: 'gotham-bookgotham-book';
	padding:2px 5px 2px 5px;
}
.fitler_col{
	width:100%;
	float:left;
	padding:10px 15px;
	background:#f2f2f2;
}
.filter_icon{
	background:url(/assets/down_icon.jpg) no-repeat right 3px;
	padding-right:20px;
	font-size:11px;
	color:#7e8082;
	font-family: 'gotham_extralightregular';
	float:right;
	margin-bottom:20px;
	opacity: .6;
}
.filter_icon.asc{
	background:url(/assets/up-icon.jpg) no-repeat right 3px;
}
.filter_icon a{color:#7e8082; text-decoration:none;}
.filter_icon a:hover{color:#000;}
.white_list{
	width:100%;
	float:left;
	background:#fff;
	padding:8px;
	margin-bottom:9px;
	cursor: pointer;
}
.white_list_left{
	width:90%;
	float:left;
}
.white_list_left h6{
	font-size:11px;
	color:#000;
	font-family: 'gotham-bookgotham-book';
	margin-bottom:5px;
}
.white_list_left h6 a{ color:#000; text-decoration:none;}
.white_list_left h6 a:hover{ color:#cecccf; text-decoration:none;}
.white_list_left p{
	font-size:9px;
	color:#cecccf;
	font-family: 'gotham-bookgotham-book';
	font-style:normal;
	margin:0px;
}
.dots_img{
	width:6px;
	float:right;
	margin-top:3px;
}
.workout_col_mid{
	width:50%;
	float:left;
	background:#fff;
	border-right:1px solid #e1e3e5;
	border-left:1px solid #e1e3e5;
	padding:36px;

	overflow-y: scroll;
}
.col_1{
	width:100%;
	float:left;
	border-bottom:1px solid #e1e3e5;
	padding-bottom:20px;
	margin-bottom:35px;
}
.col_1 h2{
	font-size:28px;
	color:#919295;
	font-family: 'gotham_extralightregular';
	margin-bottom:10px;
}
.col_1 p{
	font-size:12px;
	color:#151f25;
	font-family: 'gotham_extralightregular';
	font-style:normal;
	font-weight:bold;
}

.met_tab{
	width:100%;
	float:left;
	padding-left:27px;
}
.met_tab_col{
	width:100%;
	float:left;
	margin-bottom:45px;
}
.met_tab_col:last-child{
	margin-bottom:0px;
}
.met_tab_col .met_head{
	width:100%;
	float:left;
	background:#f2f2f2;
	border-radius:5px;
	padding:10px;
	margin-top: 10px;
	cursor: pointer;
}
.head_rght{
	width:90%;
	float:left;
}
.met_tab_col .met_head h4{
	font-size:14px;
	color:#000;
	font-weight:bold;
	 font-family: 'gotham-bookgotham-book';
	margin-bottom:5px;
}
.met_tab_col .met_head p{
	font-size:11px;
	color:#81858b;
	font-family: 'gotham_extralightregular';
	margin:0px;
	font-style:normal;
}
.tab_arrow {
width: 16px;
float: left;
margin-right: 10px;
margin-top: 10px;
background: url("/assets/tab_arrow_rgt.jpg") no-repeat;
background-position: 0 0;
text-indent: -9999px;
display: block;
}
.tab_arrow.right_arow{ background-position: -17px 0px;}
.met_tab_desc{
	width:100%;
	float:left;
	padding-left:56px;
}
.met_tab_desc ul{
	margin:0px;
	padding:0px;
}
.met_tab_desc ul li{
	float: left;
	width: 100%;
	list-style:none;
	padding: 8px 0px 8px 6px;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	cursor: pointer;
	position: relative;
}
.met_tab_desc ul li:hover{background:#ceeff2}

.li_active{background:#ceeff2}

.met_tab_desc ul li span{
	width:13px;
	height:13px;
	float:left;
}
.met_tab_desc ul li span.nummeric{float: left;
line-height: 36px;
height: 37px;
width: 19px;}
.met_tab_desc ul li:hover{
}
.met_tab_desc ul li h6{
	font-size:14px;
	color:#000;
	font-family: 'gotham-bookgotham-book';
	margin-bottom:5px;
}
.met_tab_desc ul li p{
	font-size:12px;
	color:#8b8e94;
	font-family: 'gotham-bookgotham-book';
	margin:0px;
	font-style:normal;
}
.met_tab_desc ul li a{
	text-decoration:none;
}
.met_tab_desc ul li span.rm{
float: right;
font-weight: bold;

position: absolute;
z-index: 99999999;
width: 20px;
right: 0;
height: 20px;
}
.met_tab_desc ul li span.rm:hover{ opacity: .6}

.listno_1{
	background:url(/assets/list_1.png) no-repeat 0px 20px;
}
.listno_2{
	background:url(/assets/list_2.png) no-repeat 0px 20px;
}
.listno_3{
	background:url(/assets/list_3.png) no-repeat 0px 20px;
}
.listno_4{
	background:url(/assets/list_4.png) no-repeat 0px 20px;
}
.listno_5{
	background:url(/assets/list_5.png) no-repeat 0px 20px;
}
.listno_6{
	background:url(/assets/list_6.png) no-repeat 0px 20px;
}
.listno_7{
	background:url(/assets/list_7.png) no-repeat 0px 20px;
}
.listno_8{
	background:url(/assets/list_8.png) no-repeat 0px 20px;
}
.listno_9{
	background:url(/assets/list_9.png) no-repeat 0px 20px;
}
.list_desc{
	width:90%;
	float:left;
}

.workout_col_rght {
width: 25%;
float: left;
overflow-y: scroll;

}
.move_detail{
    border-bottom: 1px solid #d3d3d3;
    color: #74787a;
    font-size: 14px;
    padding: 4px 0;
    text-align: center;
}
.gray_1{
	width:100%;
	float:left;
	padding:20px 15px;
	border-bottom:1px solid #d3d3d3;
}
.check_col{
	width:100%;
	float:left;
}
.check_col label{
	font-size:14px;
	font-family: 'gotham-bookgotham-book';
	color:#666;
}
.range_select{
	width:100%;
	float:left;
	background:#fff;
	border:1px solid #bebfc1;
	padding:6px;
	border-radius:3px;
	font-size:12px;
	font-family: 'gotham-bookgotham-book';
	color:#626364;
	margin:0px;
}
.check_desc{
	width:100%;
	float:left;
	padding:11px 19px;
}
.min_max_col{
	width:100%;
	float:left;
	margin-top:13px;
}
.min_max_col.mt{
	margin-top:0px;
}
.min_col{
	width:17%;
	float:left;
margin-right: 31px;
}
.min_col.min_col_1{
	width:20%;
}
.fancy_select.w60{ width:60%}
.min_m{
	margin-right:0px;
}
.min_col label{
	font-size:9px;
	color:#888688;
	text-align:center;
	width:100%;
	float:left;
	margin-top:3px;
}
.min_max_select{
	width:100%;
	float:left;
	background:#fff;
	border:1px solid #bebfc1;
	padding:2px;
	font-size:12px;
	font-family: 'gotham-bookgotham-book';
	color:#626364;
	margin:0px;
}
.check_col_1{
	width:32%;
	float:left;
}
.check_col_1 label{
	font-size:11px;
	font-family: 'gotham-bookgotham-book';
	color:#626364;
}

.min_col_1 .integer  input{
	width: 55px;
	border-radius: 3px;
	border: none;
	padding: 7px;
}

.min_col_1 .integer input:focus{
	outline: none;
}

.second_select{
	width:30%;
	float:left;
	background:#fff;
	border:1px solid #bebfc1;
	padding:3px;
	border-radius:3px;
	font-size:10px;
	font-family: 'gotham-bookgotham-book';
	color:#626364;
	margin:0px;
}

.detail_form{
	width:100%;
	float:left;
	padding:18px;
}
.detail_form .form_field{
	width:100%;
	float:left;
	margin-bottom:30px;
}
.detail_form .form_field label{
	font-size:14px;
	color:#666;
	font-family: 'gotham-bookgotham-book';
	float:left;
	width:100%;
	margin-bottom:5px;
}
.detail_form .form_field .detail_input, .detail_form .form_field .detail_msg{
	background:#fff;
	border-radius:3px;
	float:left;
	width:100%;
	outline: none;
	border:1px solid #e2e2e2;
	padding:5px;
	margin-bottom:5px;
}
.detail_char{
	width:100%;
	float:left;
	text-align:right;
	color:#b3adaf;
	font-family: 'gotham-bookgotham-book';
	font-size:9px;
}
.add_photo{
	width:100%;
	float:left;
	padding-left:13px;
}
.add_photo img{width:100%; height:auto}
.save_col{
	width:100%;
	float:left;
	border-top:1px solid #ccc;
	padding-top:27px;
	margin-top:50px;
}
.save_col.save_col1{
	margin-top:0px;
}
.save_btn{
	background:#24c4d4;
	padding:12px 30px;
	float:right;
	font-size:12px;
	font-family: 'gotham-bookgotham-book';
	color:#fff;
	border-radius:3px;
	border:0px;
}
.save_btn.save_btn1{
	background:#4c4d4e;
	float:left;
}
.save_btn:hover{
	background:#666;
	cursor:pointer;
}
.library_col{
	width:100%;
	float:left;
}
.library_col ul{
	margin:30px 0px;
	padding:0px;
	width:100%;
	float:left;
}
.library_col ul li.wrk{	
	list-style: none;
	float: left;
	text-align: left;
	width: 17.6%;
	margin-bottom: 12px;
	margin-right: 0px;
	min-height: 192px;
}
.library_col ul li.wrk img{
	width:150px !important;
	height:150px !important;
	float:left;
	margin-bottom:5px;
	height:auto;
}
.library_col ul li{
	list-style:none;
	float:left;
	text-align:left;
	width:21.6%;
	margin-bottom: 12px;
	margin-right:34px;
	min-height: 192px;
}
.library_col.library_view ul li{list-style: none;
float: left;
text-align: left;
width: 25%;
margin-bottom: 0;
min-height: 192px;
border-bottom: 1px solid lightgray;
float: left;
padding: 16px 18px;
margin-right: 0;
border-right: 1px solid lightgray;
text-align: center;} 	

.library_col.library_view ul li img {
 width: 130px !important; 
height: 130px !important;
float: none;
margin-bottom: 15px;
height: auto;
display: inline-block;
}
.library_col ul li:last-child{
	margin-right:0px;
}
.library_col ul li img{
	width:231px !important;
	height:130px !important;
	float:left;
	margin-bottom:5px;
	height:auto;
}
.library_col ul li h6{
	font-size:15px;
	color:#484947;
	text-align: left;
	font-family: 'gotham-bookgotham-book';
	margin-bottom:5px;
	margin-left: 12px
}
.library_col ul li p{
	font-size: 10px;
color: #cdcecd;
text-align: left;
font-family: 'gotham-bookgotham-book';
margin: 0px;
font-style: normal;
float: left;
width: 100%;
padding-left: 10px;
}
.library_col.library_view ul li.wdth_img img{width: 100% !important}
.library_col ul li.border_none{border-right: 0px;}
.sort_col{
	width:15%;
	float:right;
}
.library_col.library_view ul li.wdth_img p img {
width: 14px !important;
height: 12px !important;
}
.sort_col label{
	width:auto;
	float:left;
	font-size:11px;
	font-family: 'gotham-bookgotham-book';
	margin:5px 12px 0px 0px;
	color:#797b7d;
}
.sort_col .sort_select{
	width:65%;
	float:left;
	border:1px solid #777a7c;
	border-radius:3px;
	padding:5px;
	font-size:9px;
	font-family: 'gotham-bookgotham-book';
	color:#797b7d;
}
.pagination{
	
	float:right;
}
.custom_select_wrap {
float: left;
margin-right: 10px;
}
.pagination ul{
	margin:0px;
	padding:0px;
}
.pagination ul li{
	list-style:none;
	float:left;
	font-size:12px;
	color:#323334;
	border-right:1px solid #e5e7e9;
	font-family: 'gotham-bookgotham-book';
	font-weight:bold;
}
.pagination ul li a{
	text-decoration:none;
	padding:0px 8px;
	color:#323334;
}
.pagination ul li:last-child{
	border:0px;
}
.pagination ul li a:hover{
	color:#35c9d7;
}

.setting_col{
	width:100%;
	float:left;
}
.setting_col h5{
	font-size:14px;
	color:#c6c7c8;
	text-transform:uppercase;
	margin-bottom:10px;
	margin-left:12px;
}
.setting_col ul{
	margin:0px;
	padding:0px;
}
.setting_col ul li{
	list-style:none;
	float:left;
	color:#7c7c7d;
	font-size:14px;
	width:100%;
	margin-bottom:5px;
}
.setting_col ul li a{
	text-decoration:none;
	padding:3px 12px;
	display:block;
	color:#7c7c7d;
}
.setting_col ul li a:hover, .setting_col ul li a.active{
	background:#f2f2f2;
}
.setting_edit{
	width:80%;
	float:left;
	border-left:1px solid #eee;
	padding-left:53px;
}
.setting_edit h2{
	font-size:32px;
	color:#000;
	border-bottom: 1px solid #e4e6e8;
padding-bottom: 10px;
margin-bottom: 40px;
font-family: 'gotham_extralightregular';
}
.setting_edit h5{
	font-size:20px;
	color:#000;
margin-bottom:20px;
}
.setting_form{
	width:70%;
	float:left;
}
.setting_form_field{
	width:47.4%;
	float:left;
	margin-bottom:20px;
}
.setting_form_field.wdt_100{
	width:100%;
}
.setting_form_field.wdt_30{
	width:30%;
}
.setting_form_field.fr{
	float:right;
}
.setting_form label{
	font-size:12px;
	color:#4f4341;
	float:left;
	margin-bottom:5px;
	width:100%;
	
}
.setting_form label.label1{
	width:auto;
	color:#cfcdcd;
	font-style:italic;
	margin:0px;
	line-height:20px;
}

.setting_form .radio label{
	width:auto;
	color:#cfcdcd;
	font-style:italic;
	margin:0px;
	line-height:20px;
}

.setting_form .setting_input{
	width:100%;
	float:left;
	border:1px solid #e0e0e0;
	border-radius:3px;
	padding:6px;
	color:#cfcdcd;
	font-style:italic;
	margin:0px;
}



.setting_form .setting_input.exp{
	width:44%;
}
.setting_form .setting_select.wdt_33{
	width:29.9%;
}
.ml_27{
	margin-left:27px;
}
.radio_col{
	width:auto;
	float:left;
	margin-right:30px;
}
.radio_btn{
	float:left;
	margin-right:3px;
}

.user_gender .radio{
	display: block;
    float: left;
    margin: 0 20px 10px 0;
    margin-bottom: 10px;
    margin-left: 19px;
    margin-top: 0px;
    min-height: 20px;
    padding-left: 20px;
    width: auto;
}

.profile_col{
	width:80%;
	float:left;
	margin-bottom:40px;
}
.profile_col_left{
	width:25.8%;
	float:left;
	margin-right:25px;
}
.profile_col_left h5{
	font-size:12px;
	color:#4f4341;
	float:left;
	margin-bottom:15px;
	width:100%;
}
.profile_col_left img{
	width:100%;
	height:auto;
	float:left;
}
.profile_col h6{
	font-size:12px;
	color:#4f4341;
	margin-bottom:6px;
	margin-top:45px;
}
.profile_col p{
	font-size:12px;
	color:#9c98a6;
	margin-bottom:10px;
	font-style:normal;
	margin:0px 0px 20px 0px;
}
.choose_btn{
	border:1px solid #9c9e9f;
	border-radius:3px;
	padding:7px 20px;
	color:#9c9e9f;
	font-size:9px;
	background:#fff;
	margin-top: 10px;
}
.choose_btn:hover{
	background:#9c9e9f;
	cursor:pointer;
	color:#fff;
}

.ft_xero{
	width:100%;
	float:left;
	background:#f2f2f2;
	padding:10px 30px;
	color:#908a85;
	font-size:9px;
	text-align:right;
}
.col_wdt{
	width:100%;
	float:left;
}
.divider{
	width:7px;
	float:left;
	margin:9px 5px;
}

.pop_col{
	max-width:845px;
	margin:50px auto;
	border-radius:2px;
	box-shadow:0px 0px 5px #ccc;
	padding:35px 55px 55px;
	overflow:auto;
	background:#fff;
	position:relative;
}
.pop_col h4{
	font-size:20px;
	color:#000;
	margin-bottom:30px;
}
.pop_col h5{
	font-size:16px;
	color:#000;
	margin-bottom:20px;
}
.pop_bg{
	width:100%;
	float:left;
	border-radius:8px;
	border:2px dashed #d4d7db;
	padding:10px;
}
.pop_desc{
	width: 54%;
float: left;
text-align: center;
background: url(/assets/or_img.jpg) no-repeat right;
padding:59px 90px 59px 45px;
}
.pop_desc.not_bg{
background: none;
padding: 74px 40px;
width: 45%;
}
.pop_desc .upload_img{
	text-align:center;
	margin-bottom:20px;
}
.pop_desc p{
	font-size:14px;
	color:#d3d4d5;
	font-style:normal;
	line-height:20px;
}
.pop_desc p a{
	color:#959698;
}
.pop_desc p a:hover{
	color:#000;
}
.browse_btn {
border: 1px solid #9c9e9f;
border-radius: 3px;
cursor:pointer;
padding: 7px 30px;
color: #9c9e9f;
font-size: 13px;
background: #fff;
}
.browse_btn:hover{border:1px solid #000}


.image_hide{ display:none !important;}
/*.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }  
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }  
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
.li_class{ margin-bottom: 50px; cursor:pointer; }
.li_change{ border:2px solid #333;}
.ui-progressbar {
  position: relative;
 }
.progress-label {
  position: absolute;
  left: 41%;
  top: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0 #eee;
  font-size: 15px;
}
.progressbar_div{
  height: 25px !important;
  margin: 15px 0 0;
  width: 100%;
}
*/
.ml{
	margin-left: 50%;
}

.wd50{width: 50%}

.green_txt{
	color: green;
}

.red_txt{
	color: red;
}

.wrk_block_types{
	color: #b3adaf;
	font-family: 'gotham-bookgotham-book';
	font-size: 16px;
}

.blc_type_head{
	margin: 0 18% 5% 26%;
	font-size: 16px;
	border-bottom: 1px solid;
}

.blc_type_pop{
	border: 1px solid #eee;
	margin: 1px 1px;
	padding: 5px 5px;
	color: #b3adaf;
	display: none;
}

.new_pop_class{
	margin-top: 0px;
	margin-bottom: 0px;
}

.photo_show{
	max-width: 1090px;
	margin: 0 auto;
	float: none;
}
.m50{
	margin: 50% 40% 100% 47%;
	}

.custom-upload{ 
	background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    float: left;
    height: 28px;
    margin-bottom: 6px;
    position: relative;
    width: 20%;}
.custom-upload input[type=file]{
	cursor: pointer;
    height: 100%;
    opacity: 0;
    outline: medium none;
    position: relative;
    text-align: right;
    width: 76px;
    z-index: 2;}
.custom-upload .browse{
	background:#a1a1a1;color:#fff;font-size:18px;text-align:center;display:block;float:right;line-height:34px;padding:0 10px;}
.custom-upload .fake-file{
	left: 0;
    line-height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 230%;
    z-index: 1;}
.custom-upload .fake-file input{
	background: none repeat scroll 0 0 #fff;
    border: medium none;
    border-radius: 3px;
    color: #9c9e9f;
    font-size: 9px;
    padding: 0;
}

.workout_auto_input{
	width: 180px;
	height: 32px;
	border-radius: 5px;
	border: 2px solid #efefef;
	font-size: 22px;
}
.workout_auto_input:focus{
	width: 180px;
	height: 32px;
	outline: none;
}

.setting_form .setting_input.mr15{
	margin-right: 15px;
}

.wdt_70{
	width: 70%;
}
#order_state_code_wrapper select{
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	padding: 6px;
	color: #cfcdcd;
	font-style: italic;
	margin: 0px;
}

	
.fetured_li{
	width: 100%;
	float: left;
	margin-top: 13px;
	border-bottom: 1px solid #ccc;
}
.fetured_li ul{
	margin: 0px;
	padding: 0px;
}

.fetured_li ul li{
	width: auto;
	float: left;
	list-style: none;
	display: inline;
	padding: 0 10px;
	color: gainsboro;
	padding-bottom: 8px;
}
.fetured_li ul li.active_tab{
	border-bottom: 2px solid #ccc;
	color: black;
}

.flex-wrap .flex p{color: #111}

#progressbar .ui-widget-header{
background-color: #31C7D6 !important;
background-image: linear-gradient(to bottom, #31C7D6, #31C7D6) !important;
background-repeat: repeat-x !important;
box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset!important;
box-sizing: border-box!important;
color: #ffffff!important;
float: left!important;
font-size: 12px!important;
height: 100%!important;
text-align: center!important;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)!important;
transition: width 0.6s ease 0s;
}

.ui-progressbar{
	height: 8px !important;
	margin-top: 10px;
}

#progressbar.ui-widget-content{
	border: none !important;
}

#progressbar.ui-corner-all{
	border-radius: 1px !important;
}

.replace_video .video_uplod{width: 85%;}
.video_uplod{width:100%; position: relative; background:#f2f2f2; padding:125px 65px; min-height:330px; float:left;}
.video_uplod.video_lgtbox{padding: 84px 31px 0 68px;
min-height: 271px;
margin-bottom: 16px;
border-radius: 8px;}
.video_uplod.video_lgtbox p{width: 100%;
text-align: center;
padding: 0 25px;
color: #111;
font-style: normal;}
#dragandrophandler h2{font-size: 19px;
margin-bottom: 16px;}
.video_uplod_icon{width: 146px;
height: 82px;
float: left;
background: #fff;
text-align: center;
vertical-align: middle;
padding-top: 23px;}
.video_uplod_txt{ width: 55%;
float: left;
margin-left: 14px;}
.video_uplod_txt .loader_pipe{ width:100%; float:left; margin:10px 0px;}
.video_uplod_txt h2{font-size: 17px;
margin-bottom: 20px;
text-align: center;
line-height: 26px;}
.video_uplod_txt p{
	color: #919191;
	font-style: normal;
	margin: 5px 0 10px !important;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}
input:focus:-moz-placeholder { opacity:0; } /* FF 4-18 */
input:focus::-moz-placeholder { opacity:0; }

#workout_description{
	resize:vertical;
	overflow:auto;	
}
.block_hide.met_tab_col{
	opacity: 0;
}

.clear{clear: both;}
.fl{float: left}
.fr{float:right;}
.fnone{float: none}

button[disabled], html input[disabled] {
cursor: default;
background: #ccc;
}

.lib_img_coll{border-bottom: 1px solid #ccc;
float: left;
width: 100%;
padding-bottom: 8px;
margin-bottom: 12px; }
.lib_img_coll .lib_image_box{width: 52px;}
.create_heading{width: 100%; float: left; background: #eee; padding: 10px; -webkit-box-sizing:border; -moz-box-sizing:border; box-sizing:border;}
.rght_btns{width: auto;
/* margin-top: 0; */
float: right;
text-align: right;
margin: 10px 0px 0px;
}
.create_heading.pad20{padding: 22px 10px;}
.lib_image_box{width: 72px;
float: left;
margin-top: 2px;
margin-right: 12px;}
.lib_image_box img {
width: 100%;
height: auto;
}

.wrk_image_box{width: 55px;
	height: 55px;
	float: left;
	margin-top: 2px;
	margin-right: 12px;
}
.wrk_image_box img {
	width: 100%;
	height: 100%;
}
.wrk_image_box_sm{
	width: 40px;
	height: 40px;
	float: left;
	margin-top: 2px;
	margin-right: 12px;
	margin-left: 6px;
}
.wrk_image_box_sm img {
	width: 100%;
	height: 100%;
}

.lib_text_box{width: auto; float: left;}
.lib_text_box h4{ font-size: 18px; margin: 0}
.lib_text_box p{font-size: 12px;
color: #333333;
font-style: normal;
margin-top: 7px;}
.create_heading.heading_hide .lib_image_box{width: 54px;}
.create_heading.heading_hide .create_heading h4{font-size: 21px;}
.create_heading.heading_hide .create_heading p{display: none}
.create_heading p img{margin-right: 4px;
position: relative;
top: -1px;}
.rght_btns a.cancel_btn{width: auto; border-radius: 5px; padding: 4px 7px; border: 1px solid #ccc; color: #ccc; margin-right: 10px;}
.rght_btns a.cancel_btn.rht_active{border: 1px solid #24c4d4; color: #24c4d4}
.create_heading.pad20{padding: 20px 10px;}
ul.exer_list_view{width: 100%; float:left }
.library_col ul.exer_list_view li {
min-height: 0px;
width: 100%;
border-right: 0;
text-align: left;
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
margin-bottom: 10px;
float: left;
list-style: none;
display: inline}
ul.exer_list_view li span.tx_rht{text-align: right;}
ul.exer_list_view li span{float: left; width: 20%; text-align: left;}
ul.exer_list_view li span.thumb_text{width: 35%;
}
ul.exer_list_view li span.thumb_text img{width: 100%; height: auto;}
.library_col ul li img.list_view_img {
width: 78px !important;
height: auto !important;
margin-right: 11PX;
}
.library_col ul li img.list_view_img.wrk {
width: 60px !important;
height: 60px !important;
margin-right: 11px;
}

.library_col ul li img.list_view_circle{width: auto !important;
height: auto !important;
position: relative;
top: 1px;
margin-right: 6px;}
.plus_icon{width:20%; float: left }
.search_bar_col{width: auto;
float: left;
text-align: center;
position: relative;
margin-left: 38%;}
.search_bar_col input{width: 100%;
float: left;
border: 1px solid #ccc;
padding: 4px;
position: relative;
margin-left: 0;
background: #FFF;
height: 35px;
margin-top: 1px;
padding-left: 31px;}
.search_bar_col input.search_btn{background: url(/assets/search_icon.png) no-repeat center center;
border: 0;
width: 22px;
margin: 0;
margin-left: 0;
position: absolute;
left: 5px;
padding-left: 0;
top: 2px;}
.uplod_work{position: absolute;
bottom: 10px;
text-align: center;
width: 73%;
font-size: 12px;
cursor: pointer;
text-decoration: underline;}
.select_bar_col{width: auto;
float: right;

padding-right: 17px;}
.select_bar_col input{ display: inline-block;}
.select_bar_col select{padding: 5px; left: 0; border:1px solid #ccc; width:250px; margin-right: 5px;}
.grid_icon{background: url(/assets/grid_icon.png) no-repeat center center;
text-indent: -9999px;
width: 28px;
height: 33px;
margin-right: 3px;
display: inline-block;
position: relative;
top: 2px; }
.grid_icon.grid_icon_active{background:url(/assets/grid_icon_active.png) no-repeat center center; }

.list_icon{background: url(/assets/list_icon.png) no-repeat center center;
text-indent: -9999px;
width: 28px;
height: 33px;
margin-right: 3px;
display: inline-block;
position: relative;
top: 2px;}
.list_icon.list_icon_active{background:url(/assets/list_icon_active.png) no-repeat center center; }
.grid_icon.grid_icon_active{background:url(/assets/grid_icon_active.png) no-repeat center center; }

.plus_icon{width:50px; position: relative; height:auto; float:left;}
.plus_icon:hover > .hover_box{display:block}
.hover_box{ background: #262728;
font-size: 12px;
color: #fff;
padding: 5px;
float: left;
margin-top: 5px;
display: none;
position: absolute;
min-width: 60px;
text-align: center;
top: 26px;
width: 80px;
border-radius: 5px;}
.plus_icon img{margin-left: 26px;}
.hover_box:after{background: url(/assets/tip_icon.png) no-repeat;
content: '';
width: 10px;
height: 5px;
position: absolute;
top: -5px;
left: 50%;
margin-left: -5px;}
.tool_tip_col {
width: auto;
position: relative;
float: left;
}
.tool_tip_col .hover_box{left: -24px;
top: 33px;}
.hover_box a{color:#fff; text-decoration:none}
.tool_tip_col:hover > .hover_box{display:block}
.type_select{ min-width:100px; float:left; background:#fff}
.dk_options_inner .green_icon{background:url(/assets/green_circle.png) no-repeat;}

.dis_cls{
	pointer-events: none;
   cursor: default;	
}
.grid_pointer{
	cursor: pointer;
}
.middle_container{ max-width:960px; margin:0px auto;}
.homepage_icons{width:100%; float:left;}
.homepage_icons ul{margin:0px; padding:0px}
.homepage_icons ul li{width:154px; text-align:center; margin:70px 40px 0px; height:auto; float:left; display:inline; list-style:none; font-size:17px; color:#323435;}
.homepage_icons ul li img{width:100%; height:auto; margin-bottom:17px;}
.homepage_icons ul li a{ color:#323435; text-decoration:none;}
.replace_video{
	display: none;
}

.lib_header_image{
	width: 170px !important;
	height: auto !important;
	margin-left: 10PX;
	padding-left: 40px;
	padding-top: 16px;
	padding-bottom: 19px;
}
.fixed {
     position: fixed;
	 top: 0;
	 left: 0;
	 background: #eee;
	 width: 100%;
	 z-index: 9999;
}

.fixed .show_img_on_scol .lib_image_box{
	margin-left: 30px;
}

.show_img_on_scol{
	display: none;
}


.prev_lib_col{width: 100%; float: left; margin-bottom: 11px;}
.prev_lib_col a{color: #24c4d4; font-size: 12px; float: left; text-decoration: none;}
.prev_lib_col a.fr{float: right;}

.upload_gry_box {
background: #efefef;
padding: 35px 0 75px 54px;
width: 33%;
margin-bottom: 20px;
}


.upload_gry_box .custom-upload .fake-file input{
	background: none repeat scroll 0 0 #eee;
	border: medium none;
	border-radius: 3px;
	color: #9c9e9f;
	font-size: 9px;
	padding: 0;
	margin-top: 10px;
}

.upload_gry_box p{
color: #000;
margin-left: -18px;
margin-bottom: 20px;
}

.pd30{
	padding: 0 30px;
}

.text_para{
	color: black;
	font-style: normal;
	text-align: center;
}
.text_paral{
	color: black;
	font-style: normal;
	font-weight: bold;
}

.lib_move_title{
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 25px;
	padding-top: 14px;
}

.equ_cls{
	width: 48%;
    color: black;
    font-size: 13px;
    height: 80px !important;
    float: left;
	border-radius: 5px;
	padding: 5px 0 5px 5px;
	border: 1px solid #e1e0dd;
}

.equ_h5{
	color: black;
	margin: 10px 0 10px;
}

.toggle_rel{position: relative; float: left; width: 100%;}
.toggle_abs{position: absolute;
top: 29px;background: #fff;
z-index: 9;}

.dis_link{
	border:1px solid #CCCCCC !important;
	color:#CCCCCC !important;
	pointer-events: none;
   	cursor: default;
}

.dis_non{
 display: none;
}

.dis_blk{
	display: block;
}

.drag_img{
	margin-top: 40px;
}

.pagination{width: 22% !important;}

.pagination ul li{
	width: 12% !important;
	margin-bottom: 0;
	min-height: 0px !important;
	float: left;
	padding: 2px 3px !important;
	margin-right: 0;
	text-align: center;
	border-bottom: none !important;
}

.pagination ul li:first-child{
	width: 20% !important;
}

.pagination ul li:last-child{
	width: 30% !important;
	margin-right: 0px !important;
	border: 0px !important; 
}

.usr_flter
{
	width: 100% !important;
}

.error_color{
	color:red;
}

.reset_img{
	margin-left: 120px;
	margin-bottom: 31px;
}

.reset_text{
	text-align: center;
	margin-bottom: 15px;
}

.usr_lgn_pas{
	position: relative;
}

.spn_pass{
	position: absolute;
	color: #000;
	top: 43px;
	right: 10px;
}

.spn_pass1{
	position: absolute;
	color: #000;
	top: 115px;
	right: 10px;
}

.user_password.field_with_errors .error{
	display: none;
}