<div class="pop_col" id="wrk_add_option">
    <div class="close_icon"><a href="#"><img src="images/close.png" width="20" height="20" alt="close_icon"></a></div>
    	<h4>Select video to upload...</h4>
    	<div class=" pop_bg">
        	<div class="pop_desc">
            	<div class="upload_img"><img src="images/upload_img.jpg" width="54" height="48" alt="upload_img" /></div>
                <h5>Drag and drop single exercise</h5>
                <p>OR</p>
                <input name="" type="button" class="browse_btn" value="Browse"/>
            </div>
            
            <div class="pop_desc not_bg">
            	
                <h5>Only have full workout videos?</h5>
                <p>In the future you will need to cut this up yourself, but for now we will take care of it for you.</p>
                <p><a href="#">Upload full workout</a></p>
                
            </div>
        </div>
    </div>