<div class="exr_field_col cate_wd48">
	<label>Change Status</label>
	<div class="fancy_select">
	  <%= f.select :status, Move::STATUS, {}, prompt: "Select Status", class: "for_on_change", disabled: disabled %>
	</div>
</div>