<div id="dragandrophandler" style="display:none;width:650px;">
  <h2><%=@max_size_allowed > 250 ? "Upload Full Workout" : "Upload video"%></h2>
  <span id="upload_content" >
    <img src="/assets/ajax-loader.gif" style="margin: 20% 47% 30%;" />
  </span>
  <p class="text_para">In the future you will need to cut this up yourself, but for </br> now we will take care of it for you.</p>
</div>

