<div id="dragandrophandler" class="full-workout-upload">
    <h2><%=session[:video_id].blank? ? 'Upload Full Workout' : 'Upload Video'%></h2>
    <span id="upload_content" class="full_upload_popup">
        <img src="/assets/ajax-loader.gif" zstyle="margin: 20% 47% 30%;" />
    </span>
    <p class="foot-note">In the future you will need to cut this up yourself, but for now we will take care of it for you.</p>
</div>