<div id="dragandrophandler" style="display:none">
  <h2>Upload Full Workout..</h2>
  <div class="video_uplod video_lgtbox">
    <div class="video_uplod_icon">
      <img src="/assets/upload_icon.png" width="46" height="38" alt="Upload" />
    </div>
    <div class="video_uplod_txt">
      <h2>Drag and Drop to upload video file</h2>
      <div id="progressbar1"></div>
      <p></p>
      <span class="fl choose_btn upload_video">
        choose file
      </span>
    </div>
  </div>
  <p class="text_para">In the future you will need to cut this up yourself, but for </br> now we will take care of it for you.</p>
</div>
<script>
  
</script>
