<%if action_name == "home"%>
  <section class="container">
    <div class="row">
     <div class="col-xs-12 col-md-8 col-md-offset-2 hero-content-container">
      <div class="flex-wrap">
       <div class="flex">
        <hgroup class="hero-cap">
         <h1>Meet Xero.</h1>
         <h2>Your online personal trainer with all the right moves.</h2>
        </hgroup>
        <a href="#" class="btn btn-white hero-cta" style="margin-left:36%">Try out Xerofit</a>
       </div>
      </div>
     </div>
    </div>
   </section>
<%elsif action_name == "combo_signup"%>
    <section class="container">
      <div class="row">
       <div class="col-xs-12 col-md-8 col-md-offset-2 hero-content-container">
        
        </div>
      </div>
    </section>
<%end%>
