<button class="btn btn-primary load_modal hide" type="button" data-toggle="modal" data-target="#bootstrap-modal">Launch the demo</button>
<div class="modal fade" id="bootstrap-modal" tabindex="-1" role="dialog" aria-labelledby="bootstrap-modal-label" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content" style="margin-top:80px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="bootstrap-modal-label">Loading Image for cropping...</h4>
      </div>
      <div class="modal-body">
        <div class="bootstrap-modal-cropper">
          <img src="/assets/ajax-loader.gif" alt="Picture 1" class="modal_load">
        </div>
      </div>
      <div class="modal-footer hide">
      	<button type="button" class="btn btn-primary save_crop_image">Crop</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>