<div class="video_uplod" id="<%=popup.blank? ? 'dropzone' : ''%>">
   <div class="video_uplod_icon">
    <img src="/assets/upload_icon.png" width="46" height="38" alt="Upload" />
    </div>
    <div class="video_uplod_txt">
          <h2>Drop Video Files to Upload</br> (OR Click)</h2>
          <div id="<%=popup.blank? ? 'progressbar' : ''%>"></div>
          <p></p>
          <input name="file" type="file" id="library_video_video" style="opacity:0;"/>
      </div>
      <%if !params[:popup].present?%>
        <div class="uplod_work">
          <span class="full_workout" data-edit="">
            Upload full workout
          </span>
        </div>
      <%end%>
  </div>
<%if popup.blank?%>
  <%=render "common_templates/dropzone_script"%>
<%end%>