<div class="video_uplod upload_new_video">
  <div class="upload_wrap">
    <div class="video_uplod_icon"></div>
    <div class="video_uplod_txt">
      <h2>Choose video file to upload</h2>
      <%= form_tag "/videos/create" , :multipart => true, :remote => true, id: "ie_upload_form"  do |form| %>
        <%= file_field_tag :file, class: "filed_ml61" %>
        <%= submit_tag 'upload', class: "uplod_lft_btn upload_ie_btn"%>
      <% end %>
      <div class="uploading_report"></div> 
    </div>
  </div>
</div>
