<footer class="main-footer">
    <div class="container-fluid">
        <div class="footer_lft_col">
            <ul>
                <li><a href="http://www.xerofit.com/trainers">Become a Trainer</a></li>
                <li><a href="http://facebook.com/groups/xerofit.trainers.beta">Support</a></li>
                <li><a href="http://www.xerofit.com/terms">Terms</a></li>
                <li class="no-pipe"><a href="http://www.xerofit.com/privacy">Privacy</a></li>
            </ul>
        </div>
        <div class="footer_rht_col">© 2014 Xeroﬁt, LLC.</div>
    </div>
</footer>