<footer class="main-footer">
    <div class="container-fluid">
        <div class="col-xs-6 footer_lft_col">
            <ul>
                <li><a href="#">Become a Trainer</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Blog</a></li>
                <li><%= link_to('Terms',  terms_website_index_path) %></li>
                <li class="no-pipe"><%= link_to('Privacy',  privacy_website_index_path) %></li>
            </ul>
        </div>
        <div class="col-xs-6 footer_rht_col">© 2014 Xeroﬁt, LLC.</div>
    </div>
</footer>