<div class="footer_wrapper">
<div class="fot_lft">
	© 2014 Xeropoint Fitness, Inc.
</div>
<div class="fot_cent"> 
	<a href="/auth/facebook"><img src="/assets/facebook_icon.png" alt="Facebook" width="25" height="24" border="0" /></a>
    <a href="#"><img src="/assets/twiiter_icon.png" alt="Twiiter" width="25" height="24" border="0" /></a>
    <a href="/auth/google_oauth2"><img src="/assets/google_icon.png" alt="Goolge+" width="25" height="24" border="0" /></a>
    
    </div>
<div class="fot_rht">
    <ul>
    	<li>Made in Seattle  </li>
        <li><a href="#">Terms</a></li>
         <li>• <a href="#">Privacy</a></li>
    </ul>
</div>
</div>