    
    <section id="trainer-hero" class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 hero-content-container">
                <div class="flex-wrap">
                    <div class="flex">
                        <hgroup id="trainer-hero" class="hero-cap">
                            <h1>Make money while you sleep.</h1>
                            <h4>Every time someone downloads a workout or exercise you submit to Xerofit, you get paid... no website or programming skills required.</h4>
                        </hgroup>
                        <a href="#" class="btn btn-white hero-cta" data-toggle="modal" data-target="#trainer-signup-pop">Become a Xerofit Trainer</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
